Repository credentum/agent-context-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: context-lint, test-imports

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        language_version: python3.11
        # Run on all Python files, not just staged ones, to match CI
        pass_filenames: false
        args: [.]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [types-PyYAML, types-redis, types-requests]
        args: [--config-file=mypy.ini, .]
        exclude: ^(tests/|.venv_ci_test/)
        # Run on all files to match CI
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^context/schemas/
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-json
      - id: debug-statements
      - id: mixed-line-ending

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ["--profile", "black"]

  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args: [--max-line-length=100, --extend-ignore=E203]
        exclude: ^(tests/|.venv_ci_test/)
        # Run on all Python files to catch all issues
        pass_filenames: false
        # Use same args as CI would
        entry: flake8 .

  - repo: local
    hooks:
      - id: context-lint
        name: Context YAML Lint
        entry: python -m src.agents.context_lint validate context/
        language: system
        files: ^context/.*\.yaml$
        pass_filenames: false

      - id: test-imports
        name: Check Test Module Imports
        entry: python -m pytest --collect-only -q
        language: system
        files: ^tests/.*\.py$
        pass_filenames: false

      - id: generate-coverage-matrix
        name: Generate Coverage Matrix
        entry: python scripts/generate_coverage_matrix.py
        language: system
        pass_filenames: false
        always_run: true
        stages: [manual]

fix(coverage): lower baseline from 78.0% to 77.5%
  .coverage-config.json
Due: none

security(docker): pin Docker images with SHA digests
  .github/workflows/ci-optimized.yml
  context/.embeddings_cache/hash_cache.json
  context/.graph_cache/processed.json
  docker-compose.ci.yml
Due: none

fix(critical): resolve all ARC-Reviewer blocking issues and boost coverage
  .coverage-config.json
  .github/workflows/ci-optimized.yml
  tests/test_core_utils_comprehensive.py
  tests/test_kv_validators_comprehensive.py
  tests/test_vector_db_init_comprehensive.py
Due: test-imports

fix(tests): resolve test regression issues after adding comprehensive coverage
  .coverage.codespaces-8d7193.350418.XUKnCPxx
  .coverage.codespaces-8d7193.350465.XupFlykx
  .coverage.codespaces-8d7193.350680.XzkBOhex
  .coverage.codespaces-8d7193.350703.XikSopbx
  .coverage.codespaces-8d7193.350762.XZslzAex
  .coverage.codespaces-8d7193.350767.XcyKuAvx
  .coverage.codespaces-8d7193.350768.XXZTzkfx
  .hypothesis/unicode_data/15.0.0/codec-utf-8.json.gz
  context/sprints/sprint-4.1.yaml
  tests/test_core_utils_comprehensive.py
  tests/test_kv_validators_comprehensive.py
  tests/test_vector_db_init_comprehensive.py
Due: context-lint, test-imports

fix(tests): resolve CI pipeline errors with mocked bidirectional workflow tests
  .coverage.codespaces-8d7193.372677.XbpCwImx
  .coverage.codespaces-8d7193.372694.XzzegIwx
  .coverage.codespaces-8d7193.372949.XgWNvnYx
  .coverage.codespaces-8d7193.372966.XTNpxaAx
  .coverage.codespaces-8d7193.372994.XWlaedWx
  .coverage.codespaces-8d7193.372998.XaLACnbx
  .coverage.codespaces-8d7193.373000.XshitXEx
  .hypothesis/unicode_data/15.0.0/codec-utf-8.json.gz
  tests/test_bidirectional_workflow.py
  tests/test_bidirectional_workflow_mocked.py
Due: test-imports

fix(style): apply Black formatting to bidirectional workflow tests
  .coverage.codespaces-8d7193.382408.XwithTdx
  .coverage.codespaces-8d7193.382509.XMTtaDZx
  .coverage.codespaces-8d7193.382754.XJxaUUQx
  .coverage.codespaces-8d7193.382782.XCGRWbSx
  .coverage.codespaces-8d7193.382809.XNMfBANx
  .coverage.codespaces-8d7193.382814.XDZTQOfx
  .coverage.codespaces-8d7193.382815.XnnrpTmx
  .hypothesis/unicode_data/15.0.0/codec-utf-8.json.gz
  tests/test_bidirectional_workflow.py
  tests/test_bidirectional_workflow_mocked.py
Due: test-imports

fix(ci): add dependency installation fallbacks to all CI optimized jobs
  .github/workflows/ci-optimized.yml
Due: none

fix(lint): resolve flake8 errors in test_bidirectional_workflow_mocked.py
  tests/test_bidirectional_workflow_mocked.py
Due: test-imports

fix(ci): resolve dependency installation failures in CI Optimized Pipeline
  .flake8
  .github/workflows/ci-optimized.yml
  Dockerfile.ci
  docker-compose.ci.yml
  scripts/compare-environments.sh
  scripts/coverage_summary.py
  scripts/test-coverage-like-ci.sh
  scripts/test-like-ci.sh
  scripts/validate-ci-parity.sh
Due: none

fix(ci): resolve workflow syntax errors and improve test coverage
  .coverage.codespaces-8d7193.382408.XwithTdx
  .coverage.codespaces-8d7193.382509.XMTtaDZx
  .coverage.codespaces-8d7193.382754.XJxaUUQx
  .coverage.codespaces-8d7193.382782.XCGRWbSx
  .coverage.codespaces-8d7193.382809.XNMfBANx
  .coverage.codespaces-8d7193.382814.XDZTQOfx
  .coverage.codespaces-8d7193.382815.XnnrpTmx
  .github/workflows/auto-close-issues.yml
  .github/workflows/ci-optimized.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/pr-required.yml
  .github/workflows/pr-validation.yml
  .github/workflows/sprint-start.yml
  .github/workflows/test-coverage.yml
  .github/workflows/test-suite.yml
  .hypothesis/unicode_data/15.0.0/codec-utf-8.json.gz
  tests/test_base_component.py
Due: test-imports

fix(ci): resolve coverage analysis job and adjust baseline threshold
  .coverage-config.json
  .github/workflows/ci-optimized.yml
  .hypothesis/unicode_data/15.0.0/codec-utf-8.json.gz
Due: none

feat(ci): add auto-merge workflows and update ARC-Reviewer format
  .github/workflows/auto-merge.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/smart-auto-merge.yml
Due: none

feat(ci): make ARC-Reviewer fully machine-readable with actionable blocking issues
  .github/workflows/auto-merge.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/smart-auto-merge.yml
Due: none

chore: update sprint status via automation
  sprint_report.md
Due: none

fix(ci): prevent duplicate Sprint Update workflow runs
  .github/workflows/sprint-update.yml
Due: none

fix(ci): add duplicate prevention to Sprint Update workflow
  .github/workflows/sprint-update.yml
  context/sprints/sprint-4.1.yaml
Due: context-lint

feat(ci): add prevention-first auto-update to prevent merge conflicts
  .github/workflows/auto-merge.yml
  .github/workflows/smart-auto-merge.yml
Due: none

feat(ci): add auto-merge notification and restart capabilities
  .github/workflows/auto-merge-notifier.yml
  .github/workflows/smart-auto-merge.yml
Due: none

feat(ci): add Claude notifications for auto-merge status
  .github/workflows/auto-merge-completion-notifier.yml
  .github/workflows/auto-merge-notifier.yml
Due: none

fix(auto-merge): correct check names to match CI pipeline
  .github/workflows/auto-merge.yml
  .github/workflows/smart-auto-merge.yml
Due: none

fix(auto-merge): update ARC-Reviewer parsing for nested YAML format
  .github/workflows/auto-merge-notifier.yml
  .github/workflows/auto-merge.yml
  .github/workflows/smart-auto-merge.yml
Due: none

fix(auto-merge): make ARC-Reviewer parsing more robust for code blocks
  .github/workflows/auto-merge.yml
  .github/workflows/smart-auto-merge.yml
Due: none

fix(auto-merge): treat SKIPPED checks as successful
  .github/workflows/auto-merge.yml
  .github/workflows/smart-auto-merge.yml
Due: none

fix(auto-merge): detect ARC-Reviewer comments from 'claude' user
  .github/workflows/auto-merge-notifier.yml
  .github/workflows/auto-merge.yml
  .github/workflows/smart-auto-merge.yml
Due: none

fix(auto-merge): add result-encoding: string to prevent JSON wrapping
  .github/workflows/auto-merge.yml
Due: none

fix: prevent duplicate Sprint Update workflow runs (#109)
  .github/workflows/auto-merge-completion-notifier.yml
  .github/workflows/auto-merge-notifier.yml
  .github/workflows/auto-merge.yml
  .github/workflows/smart-auto-merge.yml
  .github/workflows/sprint-update.yml
  context/sprints/sprint-4.1.yaml
Due: context-lint

fix(auto-merge): use GraphQL API to enable auto-merge instead of REST
  .github/workflows/auto-merge.yml
  .github/workflows/smart-auto-merge.yml
Due: none

fix(auto-merge): use GraphQL API to enable auto-merge instead of REST (#111)
  .github/workflows/auto-merge.yml
  .github/workflows/smart-auto-merge.yml
Due: none

fix(auto-merge): use GraphQL API to enable auto-merge instead of REST
  .github/workflows/auto-merge.yml
  .github/workflows/generate-sprint-issues.yml
  .github/workflows/smart-auto-merge.yml
  context/trace/scratchpad/2025-07-16-issue-113-sprint-github-workflow-fix.md
  src/agents/sprint_issue_linker.py
Due: none

fix(workflow): resolve shell syntax error in auto-merge workflow
  .github/workflows/auto-merge.yml
Due: none

fix(tests): update sprint issue linker test for increased text limit
  tests/test_sprint_issue_linker_coverage.py
Due: test-imports

fix(workflow): use here-document to avoid shell parsing issues in auto-merge
  .github/workflows/auto-merge.yml
Due: none

fix(workflow): repair Sprint-to-GitHub issue creation workflow (#118)
  .github/workflows/arc-follow-up-processor.yml
  .github/workflows/auto-merge.yml
  .github/workflows/generate-sprint-issues.yml
  .github/workflows/pr-issue-validation.yml
  .github/workflows/sprint-update.yml
  .github/workflows/vector-graph-sync.yml
  .pre-commit-config.yaml
  context/trace/scratchpad/2025-07-16-issue-113-sprint-github-workflow-fix.md
  src/agents/sprint_issue_linker.py
  tests/test_sprint_issue_linker_coverage.py
Due: test-imports

feat(git-hooks): implement pre-push CI validation and merge conflict detection (#119)
  .githooks/pre-push
  .github/workflows/arc-follow-up-processor.yml
  .github/workflows/auto-close-issues.yml
  .github/workflows/auto-merge-completion-notifier.yml
  .github/workflows/vector-graph-sync.yml
  CLAUDE.md
  context/trace/scratchpad/2025-07-16-merge-conflicts-ci-hooks.md
  scripts/check-branch-sync.sh
  scripts/pre-push-ci-check.sh
  scripts/setup-git-hooks.sh
Due: none

fix(claude-review): improve comment format consistency
  .github/workflows/claude-code-review.yml
  .github/workflows/pr-issue-validation.yml
  context/trace/scratchpad/2025-07-16-issue-151-claude-review-comment-format.md
Due: none

test: add validation script for Claude Code Review format consistency
  scripts/test-claude-review-format.py
Due: none
