Repository credentum/agent-context-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: context-lint, test-imports

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        language_version: python3.11
        # Run on all Python files, not just staged ones, to match CI
        pass_filenames: false
        args: [.]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [types-PyYAML, types-redis, types-requests]
        args: [--config-file=mypy.ini, .]
        exclude: ^(tests/|.venv_ci_test/)
        # Run on all files to match CI
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^context/schemas/
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-json
      - id: debug-statements
      - id: mixed-line-ending

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ["--profile", "black"]

  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args: [--max-line-length=100, --extend-ignore=E203]
        exclude: ^(tests/|.venv_ci_test/)
        # Run on all Python files to catch all issues
        pass_filenames: false
        # Use same args as CI would
        entry: flake8 .

  - repo: local
    hooks:
      - id: context-lint
        name: Context YAML Lint
        entry: python -m src.agents.context_lint validate context/
        language: system
        files: ^context/.*\.yaml$
        pass_filenames: false

      - id: test-imports
        name: Check Test Module Imports
        entry: python -m pytest --collect-only -q
        language: system
        files: ^tests/.*\.py$
        pass_filenames: false

      - id: generate-coverage-matrix
        name: Generate Coverage Matrix
        entry: python scripts/generate_coverage_matrix.py
        language: system
        pass_filenames: false
        always_run: true
        stages: [manual]

chore: update sprint status via automation
  context/sprints/sprint-4.1.yaml
  sprint_report.md
Due: context-lint

fix(ci): resolve sprint-update workflow duplicate PR creation and CI issues
  .github/workflows/sprint-update.yml
Due: none

fix(ci): resolve sprint-update workflow duplicate PR creation and CI issues (#973)
  .github/workflows/sprint-update.yml
Due: none

test(sprint): validate bidirectional workflow sync for issue #116
  context/sprints/sprint-4.1.yaml
  context/trace/logs/bidirectional-test-results.md
  context/trace/scratchpad/2025-07-18-issue-116-bidirectional-workflow-validation.md
  context/trace/task-templates/issue-116-bidirectional-workflow-validation-test.md
  tests/test_bidirectional_sync.py
Due: context-lint, test-imports

test(sprint): validate bidirectional workflow sync for issue #116
  context/.embeddings_cache/hash_cache.json
  context/.graph_cache/processed.json
  context/sprints/sprint-4.1.yaml
  tests/test_bidirectional_sync.py
Due: context-lint, test-imports

test(sprint): complete bidirectional workflow validation for issue #116
  context/.embeddings_cache/hash_cache.json
  context/.graph_cache/processed.json
  context/sprints/sprint-4.1.yaml
Due: context-lint

test(sprint): validate bidirectional workflow sync for issue #116 (#978)
  context/sprints/sprint-4.1.yaml
  context/trace/logs/bidirectional-test-results.md
  context/trace/scratchpad/2025-07-18-issue-116-bidirectional-workflow-validation.md
  context/trace/task-templates/issue-116-bidirectional-workflow-validation-test.md
  tests/test_bidirectional_sync.py
Due: context-lint, test-imports

feat(infra): consolidate docker-compose configurations
  .claude/workflows/workflow-issue.md
  DOCKER_COMPOSE_USAGE.md
  context/trace/logs/workflow-completions.log
  context/trace/scratchpad/2025-07-18-issue-976-docker-compose-consolidation.md
  context/trace/task-templates/issue-976-consolidate-docker-compose-configurations.md
  docker-compose.ci-optimized.yml.backup
  docker-compose.ci.yml
  docker-compose.override.yml
  docker-compose.yml
  infra/docker-compose.yml.backup
Due: none

security: fix Neo4j authentication vulnerabilities and align configurations
  DOCKER_COMPOSE_USAGE.md
  docker-compose.ci.yml
  docker-compose.override.yml
  docker-compose.yml
Due: none

feat(infra): consolidate docker-compose configurations (#981)
  .claude/workflows/workflow-issue.md
  DOCKER_COMPOSE_USAGE.md
  context/trace/logs/workflow-completions.log
  context/trace/scratchpad/2025-07-18-issue-976-docker-compose-consolidation.md
  context/trace/task-templates/issue-976-consolidate-docker-compose-configurations.md
  docker-compose.ci-optimized.yml.backup
  docker-compose.ci.yml
  docker-compose.override.yml
  docker-compose.yml
  infra/docker-compose.yml.backup
Due: none

feat(infra): consolidate docker-compose configurations
  DOCKER_COMPOSE_USAGE.md
  docker-compose.override.yml
Due: none

feat(infra): complete Docker Compose consolidation - reduce port forwards from 19 to 5
  .claude/workflows/workflow-issue.md
  Makefile
  context/sprints/sprint-4.1.yaml
  context/trace/scratchpad/2025-07-18-issue-986-docker-compose-consolidation-completion.md
  docker-compose.ci-optimized.yml
  docker-compose.ci.yml
  infra/docker-compose.yml
  scripts/run-ci-docker.sh
  scripts/run-ci-optimized.sh
  scripts/validate-branch-for-pr.sh
Due: context-lint

security: fix Neo4j authentication vulnerabilities and align configurations
  DOCKER_COMPOSE_USAGE.md
  docker-compose.override.yml
Due: none

feat(infra): complete Docker Compose consolidation - reduce port forwards from 19 to 5 (#988)
  .claude/workflows/workflow-issue.md
  Makefile
  context/sprints/sprint-4.1.yaml
  context/trace/scratchpad/2025-07-18-issue-986-docker-compose-consolidation-completion.md
  docker-compose.ci-optimized.yml
  docker-compose.ci.yml
  infra/docker-compose.yml
  scripts/run-ci-docker.sh
  scripts/run-ci-optimized.sh
  scripts/validate-branch-for-pr.sh
Due: context-lint
