Repository credentum/agent-context-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: context-lint, test-imports

context-lint:
  name: Context YAML Lint
  entry: python -m src.agents.context_lint validate context/
  language: system
  pass_filenames: false

test-imports:
  name: Check Test Module Imports
  entry: python -m pytest --collect-only -q
  language: system
  pass_filenames: false

fix(ci): implement quick CI mode and fix MyPy duplicate module errors
  CLAUDE.md
  context/trace/logs/claude-edits.log
  context/trace/logs/claude-pre-commit.log
  context/trace/logs/workflow-enforcement.log
  docker-compose.ci.yml
  scripts/run-ci-docker.sh
  scripts/test-comprehensive-ci.sh
  scripts/test-lint-fast.sh
  scripts/test-quick-ci.sh
Due: none

fix: address PR review feedback for workflow test utilities
  context/sprints/sprint-4.1.yaml
  context/trace/logs/claude-pre-commit.log
  context/trace/logs/workflow-enforcement.log
  context/trace/task-templates/issue-1676-sprint-test-verify-workflow-issue-hybrid-mode-func.md
  src/utils/workflow_test_utils.py
  tests/test_workflow_test_utils.py
Due: context-lint, test-imports

docs(trace): update task template with actuals and add completion log for issue #1683
  context/trace/logs/workflow-completions.log
  context/trace/task-templates/issue-1683-sprint-43-fix-local-docker-ci-to-match-github-acti.md
Due: none

fix: address additional PR review feedback
  context/sprints/sprint-4.1.yaml
  context/trace/logs/claude-edits.log
  context/trace/logs/claude-pre-commit.log
  context/trace/logs/workflow-enforcement.log
  tests/test_workflow_test_utils.py
Due: context-lint, test-imports

feat(workflow): verify hybrid mode functionality for issue #1676 (#1685)
  context/trace/logs/claude-edits.log
  context/trace/logs/claude-pre-commit.log
  context/trace/logs/workflow-completions.log
  context/trace/logs/workflow-enforcement.log
  context/trace/scratchpad/2025-07-31-issue-1676-sprint-test-verify-workflow-issue-hybrid-mode-func.md
  context/trace/task-templates/issue-1676-sprint-test-verify-workflow-issue-hybrid-mode-func.md
  src/utils/workflow_test_utils.py
  tests/test_workflow_test_utils.py
Due: test-imports

chore: add Claude runtime logs to gitignore
  .gitignore
Due: none

chore: remove Claude runtime logs from tracking
  context/trace/logs/claude-edits.log
  context/trace/logs/claude-pre-commit.log
  context/trace/logs/workflow-enforcement.log
Due: none

fix(ci): implement quick CI mode and fix MyPy duplicate module errors (#1686)
  .gitignore
  CLAUDE.md
  context/trace/logs/claude-edits.log
  context/trace/logs/claude-pre-commit.log
  context/trace/logs/workflow-completions.log
  context/trace/logs/workflow-enforcement.log
  context/trace/scratchpad/2025-07-31-issue-1683-sprint-43-fix-local-docker-ci-to-match-github-acti.md
  context/trace/task-templates/issue-1683-sprint-43-fix-local-docker-ci-to-match-github-acti.md
  docker-compose.ci.yml
  scripts/run-ci-docker.sh
  scripts/test-comprehensive-ci.sh
  scripts/test-lint-fast.sh
  scripts/test-quick-ci.sh
Due: none

docs(trace): add task template and execution plan for issue #1678
  context/trace/scratchpad/2025-07-31-issue-1678-sprint-43-fix-arc-reviewer-anthropic-import-issues.md
  context/trace/task-templates/issue-1678-sprint-43-fix-arc-reviewer-anthropic-import-issues.md
Due: none

fix(ci): remove external API dependency from LLM reviewer for issue #1678
  src/agents/arc_reviewer.py
  src/agents/llm_reviewer.py
Due: none

fix(ci): optimize LLM reviewer to avoid hanging operations
  src/agents/arc_reviewer.py
  src/agents/llm_reviewer.py
Due: none

fix(ci): align local ARC reviewer with GitHub ARC reviewer standards
  context/trace/scratchpad/2025-07-31-issue-1678-sprint-43-fix-arc-reviewer-anthropic-import-issues.md
  context/trace/task-templates/issue-1678-sprint-43-fix-arc-reviewer-anthropic-import-issues.md
  src/agents/arc_reviewer.py
  src/agents/llm_reviewer.py
Due: none

fix(ci): Remove external API dependency from LLM reviewer for issue #1678 (#1687)
  context/trace/scratchpad/2025-07-31-issue-1678-sprint-43-fix-arc-reviewer-anthropic-import-issues.md
  context/trace/task-templates/issue-1678-sprint-43-fix-arc-reviewer-anthropic-import-issues.md
  src/agents/arc_reviewer.py
  src/agents/llm_reviewer.py
Due: none

docs(trace): add task template and execution plan for issue #1679
  context/trace/scratchpad/2025-07-31-issue-1679-sprint-43-integrate-two-phase-ci-architecture-into.md
  context/trace/task-templates/issue-1679-sprint-43-integrate-two-phase-ci-architecture-into.md
Due: none

feat(workflow): integrate two-phase CI architecture into validation phase
  scripts/workflow_executor.py
Due: none

docs(trace): update task template with actuals and add completion log for issue #1679
  context/trace/logs/workflow-completions.log
  context/trace/task-templates/issue-1679-sprint-43-integrate-two-phase-ci-architecture-into.md
Due: none

docs(trace): add task template and execution plan for issue #1689
  context/trace/scratchpad/2025-07-31-issue-1689-sprint-43-workflow-executor-implementation-phase-m.md
  context/trace/task-templates/issue-1689-sprint-43-workflow-executor-implementation-phase-m.md
Due: none

fix(arc-reviewer): implement comprehensive local review matching PR standards
  src/agents/llm_reviewer.py
Due: none

feat(sprint): add Sprint 6 - Modal Migration Architecture plan
  context/sprints/sprint-6.yaml
Due: context-lint

docs(trace): update task template actuals and completion log for issue #1689
  context/trace/logs/workflow-completions.log
  context/trace/task-templates/issue-1689-sprint-43-workflow-executor-implementation-phase-m.md
Due: none

fix(arc-reviewer): improve precision and categorization to match PR reviewer
  src/agents/llm_reviewer.py
Due: none

feat(sprint): add Sprint 6 - Modal Migration Architecture plan (#1690)
  context/sprints/sprint-6.yaml
Due: context-lint

feat(workflow): add git worktree integration to workflow-issue command
  .claude/commands/workflow-issue.md
Due: none

fix(arc-reviewer): resolve hardcoded values flagged by ARC reviewer
  scripts/workflow_executor.py
  src/agents/llm_reviewer.py
Due: none

feat(workflow): add git worktree integration to workflow-issue command (#1691)
  .claude/commands/workflow-issue.md
Due: none

fix(arc-reviewer): improve local detection to exactly match PR reviewer
  src/agents/llm_reviewer.py
Due: none

feat(workflow): integrate two-phase CI architecture + fix local ARC reviewer (#1688)
  context/trace/logs/workflow-completions.log
  context/trace/scratchpad/2025-07-31-issue-1679-sprint-43-integrate-two-phase-ci-architecture-into.md
  context/trace/scratchpad/2025-07-31-issue-1689-sprint-43-workflow-executor-implementation-phase-m.md
  context/trace/task-templates/issue-1679-sprint-43-integrate-two-phase-ci-architecture-into.md
  context/trace/task-templates/issue-1689-sprint-43-workflow-executor-implementation-phase-m.md
  scripts/workflow_executor.py
  src/agents/llm_reviewer.py
Due: none

test(workflow): add tests for execute_implementation method
  tests/test_workflow_executor.py
Due: test-imports

style: fix formatting issues found by CI
  scripts/workflow_executor.py
  tests/test_workflow_executor.py
Due: test-imports

fix(workflow): implement actual code changes in execute_implementation
  scripts/workflow_executor.py
Due: none

docs(trace): update completion log for issue #1689
  context/trace/logs/workflow-completions.log
Due: none

fix(quality): address ARC reviewer code quality issues
  context/trace/task-templates/issue-1689-sprint-43-workflow-executor-implementation-phase-m.md
  scripts/workflow_executor.py
  tests/test_workflow_executor.py
Due: test-imports

feat(agents): add architecture review agent and priority labels
  .claude/agents/architecture-review.md
Due: none

feat(agents): add architecture review agent and priority labels (#1693)
  .claude/agents/architecture-review.md
Due: none

feat(workflow): implement generic task template parsing
  .claude/commands/workflow-issue.md
  CLAUDE.md
  context/trace/task-templates/issue-1676-sprint-test-verify-workflow-issue-hybrid-mode-func.md
  context/trace/task-templates/issue-1678-sprint-43-fix-arc-reviewer-anthropic-import-issues.md
  context/trace/task-templates/issue-1679-sprint-43-integrate-two-phase-ci-architecture-into.md
  context/trace/task-templates/issue-1683-sprint-43-fix-local-docker-ci-to-match-github-acti.md
  scripts/workflow_executor.py
  src/agents/arc_reviewer.py
  src/agents/llm_reviewer.py
Due: none

fix(code-quality): address all ARC reviewer blocking issues
  .claude/commands/close-pr.md
  scripts/workflow_executor.py
  src/agents/llm_reviewer.py
  tls/README.md
Due: none

fix(agents): add missing YAML frontmatter to architecture-review agent
  .claude/agents/architecture-review.md
Due: none

fix(agents): add missing YAML frontmatter to architecture-review agent (#1695)
  .claude/agents/architecture-review.md
Due: none

fix(code-quality): address all ARC reviewer blocking issues
  src/agents/arc_reviewer.py
  src/agents/llm_reviewer.py
  tests/test_workflow_executor.py
Due: test-imports

Path conditions:
  context-lint: any of: ^context/.*\.yaml$
  test-imports: any of: ^tests/.*\.py$
