Repository credentum/agent-context-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: context-lint, test-imports

context-lint:
  name: Context YAML Lint
  entry: python -m src.agents.context_lint validate context/
  language: system
  pass_filenames: false

test-imports:
  name: Check Test Module Imports
  entry: python -m pytest --collect-only -q
  language: system
  pass_filenames: false

docs: update scratchpad with completion notes for issue #151
  context/trace/scratchpad/2025-07-16-issue-151-claude-review-comment-format.md
Due: none

fix(workflows): resolve all YAML formatting and syntax errors
  .github/workflows/arc-follow-up-processor.yml
  .github/workflows/auto-merge.yml
Due: none

fix(workflow): implement robust Claude Code Review comment format correction
  .github/workflows/claude-code-review.yml
Due: none

fix: Claude Code Review comment format consistency (#153)
  .github/workflows/arc-follow-up-processor.yml
  .github/workflows/auto-merge.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/pr-issue-validation.yml
  context/trace/scratchpad/2025-07-16-issue-151-claude-review-comment-format.md
  scripts/test-claude-review-format.py
Due: none

feat(workflow): implement machine-readable PR description format
  .github/pr-metadata-schema.yaml
  .github/pull_request_template.md
  .github/workflows/pr-format-validation.yml
  context/trace/scratchpad/2025-07-16-issue-150-machine-readable-pr-format.md
Due: none

feat(workflows): implement YAML frontmatter parsing in workflows
  .github/workflows/auto-merge.yml
  .github/workflows/sprint-update.yml
  context/.embeddings_cache/hash_cache.json
  context/.graph_cache/processed.json
Due: none

ci: trigger re-run of validation checks
  .github/workflows/pr-format-validation.yml
Due: none

fix(validation): allow YAML frontmatter anywhere in PR body
  .github/workflows/pr-format-validation.yml
Due: none

fix(validation): install js-yaml for issue reference checking
  .github/workflows/pr-format-validation.yml
Due: none

feat: add comprehensive test coverage for PR format validation
  requirements.txt
  tests/test_auto_merge_yaml_parsing.py
  tests/test_pr_format_validation.py
  tests/test_sprint_update_yaml_parsing.py
Due: test-imports

fix: add jsonschema to requirements-dev.txt for PR format validation tests
  requirements-dev.txt
  requirements.txt
Due: none

fix(workflow): properly parse ARC-Reviewer YAML format in auto-merge-notifier
  .github/workflows/auto-merge-notifier.yml
Due: none

feat(workflow): grant @claude write permissions to fix blocking issues automatically
  .github/workflows/claude-auto-fix.yml
  .github/workflows/claude.yml
Due: none

fix(workflow): implement proper test detection logic in auto-merge workflow
  .github/workflows/auto-merge.yml
Due: none

fix(deps): add jsonschema to requirements-test.txt
  requirements-test.txt
Due: none

fix(test): make memory leak detection test environment-independent
  tests/test_chaos_engineering.py
Due: test-imports

feat(workflows): implement machine-readable PR description format (#154)
  .github/pr-metadata-schema.yaml
  .github/pull_request_template.md
  .github/workflows/auto-merge-notifier.yml
  .github/workflows/auto-merge.yml
  .github/workflows/claude-auto-fix.yml
  .github/workflows/claude.yml
  .github/workflows/pr-format-validation.yml
  .github/workflows/sprint-update.yml
  context/.embeddings_cache/hash_cache.json
  context/.graph_cache/processed.json
  context/trace/scratchpad/2025-07-16-issue-150-machine-readable-pr-format.md
  requirements-dev.txt
  requirements-test.txt
  tests/test_auto_merge_yaml_parsing.py
  tests/test_chaos_engineering.py
  tests/test_pr_format_validation.py
  tests/test_sprint_update_yaml_parsing.py
Due: test-imports

chore: update sprint status via automation
  context/sprints/sprint-4.1.yaml
Due: context-lint

fix(auto-merge): resolve GitHub Actions output format error
  .github/pr-metadata-schema.yaml
  .github/pull_request_template.md
  .github/workflows/auto-merge-notifier.yml
  .github/workflows/auto-merge.yml
  .github/workflows/claude-auto-fix.yml
  .github/workflows/claude.yml
  .github/workflows/pr-conflict-validator.yml
  .github/workflows/pr-format-validation.yml
  .github/workflows/sprint-update.yml
  context/.embeddings_cache/hash_cache.json
  context/.graph_cache/processed.json
  context/trace/scratchpad/2025-07-16-issue-150-machine-readable-pr-format.md
  requirements-dev.txt
  requirements-test.txt
  tests/test_auto_merge_output_fix.py
  tests/test_auto_merge_yaml_parsing.py
  tests/test_chaos_engineering.py
  tests/test_pr_conflict_detection.py
  tests/test_sprint_update_yaml_parsing.py
Due: test-imports

fix(ci): remove problematic workflows causing CI failures
  .github/pr-metadata-schema.yaml
  .github/workflows/auto-merge.yml
  .github/workflows/claude-auto-fix.yml
  .github/workflows/pr-format-validation.yml
  context/trace/scratchpad/2025-07-16-issue-150-machine-readable-pr-format.md
  tests/test_auto_merge_yaml_parsing.py
  tests/test_pr_format_validation.py
  tests/test_sprint_update_yaml_parsing.py
Due: test-imports

fix(ci): add jq dependency and improve local CI testing
  Dockerfile.ci
  scripts/test-like-ci.sh
Due: none

fix(tests): ensure main branch exists in PR conflict detection tests
  tests/test_pr_conflict_detection.py
Due: test-imports

fix(auto-merge): resolve GitHub Actions output format error (#170)
  .github/pr-metadata-schema.yaml
  .github/workflows/auto-merge.yml
  .github/workflows/claude-auto-fix.yml
  .github/workflows/pr-conflict-validator.yml
  .github/workflows/pr-format-validation.yml
  Dockerfile.ci
  context/trace/scratchpad/2025-07-16-issue-150-machine-readable-pr-format.md
  scripts/test-like-ci.sh
  tests/test_auto_merge_output_fix.py
  tests/test_auto_merge_yaml_parsing.py
  tests/test_pr_conflict_detection.py
  tests/test_pr_format_validation.py
  tests/test_sprint_update_yaml_parsing.py
Due: test-imports

fix(auto-merge): resolve GitHub Actions output format error (#170)
  .github/pr-metadata-schema.yaml
  .github/workflows/ai-pr-monitor.yml
  .github/workflows/auto-merge.yml
  .github/workflows/claude-auto-fix.yml
  .github/workflows/pr-conflict-validator.yml
  .github/workflows/pr-format-validation.yml
  Dockerfile.ci
  context/trace/scratchpad/2025-07-16-issue-150-machine-readable-pr-format.md
  context/trace/scratchpad/2025-07-17-issue-173-ai-monitored-pr-process.md
  scripts/test-like-ci.sh
  tests/test_auto_merge_output_fix.py
  tests/test_auto_merge_yaml_parsing.py
  tests/test_pr_conflict_detection.py
  tests/test_pr_format_validation.py
  tests/test_sprint_update_yaml_parsing.py
Due: test-imports

chore(ci): disable push triggers on GitHub Actions workflows
  .github/workflows/ci-optimized.yml
  .github/workflows/lint-verification.yml
  .github/workflows/test-coverage.yml
  .github/workflows/test-suite.yml
  .github/workflows/test.yml
  context/.embeddings_cache/hash_cache.json
  context/.graph_cache/processed.json
  context/sprints/sprint-4.1.yaml
Due: context-lint

wip: save current progress before fixing CI issues
  context/sprints/sprint-4.1.yaml
  context/trace/scratchpad/2025-07-17-issue-173-ai-monitored-pr-process.md
Due: context-lint

fix: improve YAML formatting for multiple files
  .pre-commit-config-ci.yaml
  .pre-commit-config-updated.yaml
  context/decisions/001-technology-stack.yaml
  context/sprints/sprint-001.yaml
  context/sprints/sprint-002.yaml
  context/sprints/sprint-4.1.yaml
  performance.yaml
  workflows/claude.yml
Due: context-lint

docs(phase-2): complete comprehensive workflow audit for issue 173
  context/sprints/sprint-4.1.yaml
  context/trace/scratchpad/2025-07-17-issue-173-ai-monitored-pr-process.md
Due: context-lint

fix(workflows): resolve YAML syntax error in ai-pr-monitor.yml
  .github/workflows/ai-pr-monitor.yml
Due: none

test(workflows): add comprehensive test suite for AI PR Monitor
  context/trace/scratchpad/2025-07-17-issue-173-ai-monitored-pr-process.md
  tests/test_ai_pr_monitor_integration.py
  tests/test_workflow_feature_parity.py
Due: test-imports

docs(workflows): add comprehensive Phase 4 migration documentation
  CLAUDE.md
  docs/ai-pr-monitor-metrics-plan.md
  docs/ai-pr-monitor-migration-guide.md
  docs/workflow-deprecation-plan.md
Due: none

fix(workflows): add null check for pull_request in ai-pr-monitor condition
  .github/workflows/ai-pr-monitor.yml
Due: none

fix(workflows): simplify conditional logic in ai-pr-monitor
  .github/workflows/ai-pr-monitor.yml
Due: none

fix(workflows): simplify condition to basic draft check
  .github/workflows/ai-pr-monitor.yml
Due: none

test: add minimal AI workflow to debug startup failure (fixed formatting)
  .github/workflows/ai-pr-monitor-minimal.yml
Due: none

temp: disable arc-follow-up-processor scheduled runs
  .github/workflows/arc-follow-up-processor.yml
Due: none

fix(workflows): remove duplicate trigger in PR conflict validator
  .github/workflows/pr-conflict-validator.yml
Due: none

fix(review): ensure ARC-Reviewer reviews full PR state, not just deltas
  .github/workflows/claude-code-review.yml
Due: none

Path conditions:
  context-lint: any of: ^context/.*\.yaml$
  test-imports: any of: ^tests/.*\.py$
