Repository credentum/agent-context-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: context-lint, test-imports

context-lint:
  name: Context YAML Lint
  entry: python -m src.agents.context_lint validate context/
  language: system
  pass_filenames: false

test-imports:
  name: Check Test Module Imports
  entry: python -m pytest --collect-only -q
  language: system
  pass_filenames: false

"Update Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

fix(workflow): implement timeout-safe workflow execution
  .claude/commands/workflow-issue-safe.md
  .claude/commands/workflow-issue.md
  scripts/workflow_async_executor.py
  scripts/workflow_phase_runner.py
Due: none

fix(workflow): address ARC reviewer feedback
  scripts/workflow_async_executor.py
  scripts/workflow_phase_runner.py
  tests/test_workflow_async_executor.py
  tests/test_workflow_phase_runner.py
Due: test-imports

docs(trace): add task template and execution plan for issue #2
  context/trace/scratchpad/2025-08-01-issue-2-switch-github-actions-to-oauth-authentication.md
  context/trace/task-templates/issue-2-switch-github-actions-to-oauth-authentication.md
Due: none

fix(workflow): address all ARC reviewer code quality feedback
  .claude/commands/workflow-issue-safe.md
  scripts/workflow_async_executor.py
  scripts/workflow_phase_runner.py
  tests/test_workflow_async_executor.py
  tests/test_workflow_phase_runner.py
Due: test-imports

fix(workflow): final ARC reviewer issues - achieve 88% coverage
  scripts/workflow_async_executor.py
  scripts/workflow_phase_runner.py
  tests/test_workflow_integration.py
Due: test-imports

Fix test failures and finalize timeout handling implementation
  tests/test_workflow_async_executor.py
  tests/test_workflow_integration.py
  tests/test_workflow_phase_runner.py
Due: test-imports

Address final ARC reviewer feedback and code quality improvements
  .workflow-phase-state-210.json
  .workflow-phase-state-321.json
  context/trace/investigations/issue-2-investigation.md
  scripts/workflow_async_executor.py
  scripts/workflow_config.py
  scripts/workflow_phase_runner.py
  tests/test_workflow_config.py
  tests/test_workflow_phase_runner.py
Due: test-imports

Clean up code quality issues and repository hygiene
  .gitignore
  .workflow-phase-state-210.json
  .workflow-phase-state-321.json
  scripts/workflow_config.py
  scripts/workflow_phase_runner.py
  tests/test_workflow_async_executor.py
Due: test-imports

fix(context-store): Resolve all lint and formatting issues
  context-store/schemas/schema_loader.py
  context-store/setup.py
  context-store/src/__init__.py
  context-store/src/core/__init__.py
  context-store/src/core/utils.py
  context-store/src/validators/config_validator.py
  context-store/src/validators/kv_validators.py
  context-store/tests/test_config_validator.py
  context-store/tests/test_core_utils_comprehensive.py
  context-store/tests/test_kv_validators.py
  context-store/tests/test_kv_validators_comprehensive.py
Due: none

feat(pr-automation): Add permanent fixes for autonomous PR creation
  .claude/commands/create-pr.md
  .claude/troubleshooting/autonomous-pr-creation.md
  .devcontainer/postCreateCommand.sh
  .github/ISSUE_TEMPLATE/autonomous-pr-issues.md
  CLAUDE.md
  scripts/create-autonomous-pr.sh
Due: none

fix: Apply Black and isort formatting to workflow files
  scripts/workflow_async_executor.py
  scripts/workflow_config.py
  scripts/workflow_phase_runner.py
  tests/test_workflow_async_executor.py
  tests/test_workflow_config.py
  tests/test_workflow_phase_runner.py
Due: test-imports

fix: Fix flake8 E501 line length issues in llm_reviewer.py
  context/trace/logs/workflow-completions.log
  context/trace/scratchpad/2025-08-01-issue-9999-issue-9999.md
  src/agents/llm_reviewer.py
Due: none

fix: Complete flake8 E501 line length fixes for llm_reviewer.py
  src/agents/llm_reviewer.py
Due: none

fix: Apply final Black formatting to llm_reviewer.py
  src/agents/llm_reviewer.py
Due: none

fix: Address ARC reviewer blocking issues
  context/trace/logs/workflow-completions.log
  coverage.json
  src/agents/llm_reviewer.py
  tests/test_workflow_executor_two_phase_ci.py
Due: test-imports

fix: Make coverage thresholds configurable
  scripts/workflow_config.py
  src/agents/llm_reviewer.py
Due: none

fix: Address all ARC reviewer blocking issues
  scripts/create-autonomous-pr.sh
  tests/test_workflow_async_executor_extended.py
  tests/test_workflow_config.py
Due: test-imports

fix: Add input validation and comprehensive error handling tests
  scripts/workflow_async_executor.py
  scripts/workflow_phase_runner.py
  tests/test_workflow_validation_and_errors.py
Due: test-imports

fix: Address all ARC reviewer blocking issues and linting errors
  context/sprints/sprint-6.yaml
  coverage.json
  scripts/workflow_async_executor.py
  scripts/workflow_config.py
  scripts/workflow_phase_runner.py
  src/agents/llm_reviewer.py
  tests/test_workflow_async_executor_extended.py
Due: context-lint, test-imports

fix(workflow): implement timeout-safe workflow execution (#1701)
  .claude/commands/create-pr.md
  .claude/commands/workflow-issue-safe.md
  .claude/commands/workflow-issue.md
  .claude/troubleshooting/autonomous-pr-creation.md
  .devcontainer/postCreateCommand.sh
  .github/ISSUE_TEMPLATE/autonomous-pr-issues.md
  .gitignore
  CLAUDE.md
  context/sprints/sprint-6.yaml
  context/trace/investigations/issue-2-investigation.md
  context/trace/logs/workflow-completions.log
  context/trace/scratchpad/2025-08-01-issue-2-switch-github-actions-to-oauth-authentication.md
  context/trace/scratchpad/2025-08-01-issue-9999-issue-9999.md
  context/trace/task-templates/issue-2-switch-github-actions-to-oauth-authentication.md
  coverage.json
  scripts/create-autonomous-pr.sh
  scripts/workflow_async_executor.py
  scripts/workflow_config.py
  scripts/workflow_phase_runner.py
  src/agents/llm_reviewer.py
  tests/test_workflow_async_executor.py
  tests/test_workflow_async_executor_extended.py
  tests/test_workflow_config.py
  tests/test_workflow_executor_two_phase_ci.py
  tests/test_workflow_integration.py
  tests/test_workflow_phase_runner.py
  tests/test_workflow_validation_and_errors.py
Due: context-lint, test-imports

docs(trace): add task template and execution plan for issue #1702
  context/trace/scratchpad/2025-08-01-issue-1702-sprint-42-fix-docker-ci-read-only-filesystem-and-p.md
  context/trace/task-templates/issue-1702-sprint-42-fix-docker-ci-read-only-filesystem-and-p.md
Due: none

fix(ci): implement writable overlay for pre-commit hooks in Docker CI
  docker-compose.ci.yml
  scripts/run-precommit-with-overlay.sh
  scripts/test-comprehensive-ci.sh
  scripts/test-quick-ci.sh
Due: none

fix(ci): switch to CI-safe pre-commit script for read-only filesystem
  docker-compose.ci.yml
  scripts/run-precommit-ci-safe.sh
  scripts/run-precommit-with-overlay.sh
  scripts/test-comprehensive-ci.sh
  scripts/test-quick-ci.sh
Due: none

fix(ci): handle pre-commit hooks without check-only mode
  scripts/run-precommit-ci-safe.sh
  src/agents/llm_reviewer.py
  tests/test_workflow_async_executor_extended.py
  tests/test_workflow_config.py
  tests/test_workflow_executor_two_phase_ci.py
  tests/test_workflow_validation_and_errors.py
Due: test-imports

docs(trace): update scratchpad and task template with implementation details
  context/trace/scratchpad/2025-08-01-issue-1702-sprint-42-fix-docker-ci-read-only-filesystem-and-p.md
  context/trace/task-templates/issue-1702-sprint-42-fix-docker-ci-read-only-filesystem-and-p.md
Due: none

fix(ci): implement CI-safe pre-commit hooks for Docker read-only filesystem (#1703)
  context/trace/scratchpad/2025-08-01-issue-1702-sprint-42-fix-docker-ci-read-only-filesystem-and-p.md
  context/trace/task-templates/issue-1702-sprint-42-fix-docker-ci-read-only-filesystem-and-p.md
  docker-compose.ci.yml
  scripts/run-precommit-ci-safe.sh
  scripts/run-precommit-with-overlay.sh
  scripts/test-comprehensive-ci.sh
  scripts/test-quick-ci.sh
  src/agents/llm_reviewer.py
  tests/test_workflow_async_executor_extended.py
  tests/test_workflow_config.py
  tests/test_workflow_executor_two_phase_ci.py
  tests/test_workflow_validation_and_errors.py
Due: test-imports

docs(trace): add task template and execution plan for issue #1704
  context/trace/scratchpad/2025-08-01-issue-1704-sprint-42-fix-workflow-phase-runner-state-synchron.md
  context/trace/task-templates/issue-1704-sprint-42-fix-workflow-phase-runner-state-synchron.md
Due: none

docs(plan): create implementation plan for issue #1704
  context/trace/implementation-plans/issue-1704-plan.md
Due: none

fix(workflow): synchronize state between PhaseRunner and WorkflowEnforcer
  scripts/agent_hooks.py
  scripts/workflow_cli.py
  scripts/workflow_enforcer.py
  scripts/workflow_phase_runner.py
  test_state_sync.py
Due: none

style: apply black formatting to workflow_enforcer.py
  scripts/workflow_enforcer.py
Due: none

test: update tests for unified state management
  test_state_sync.py
  tests/test_workflow_phase_runner.py
Due: test-imports

style: apply black formatting
  scripts/workflow_phase_runner.py
  tests/test_workflow_phase_runner.py
Due: test-imports

fix(workflow): use WorkflowConfig.COVERAGE_BASELINE instead of hardcoded value
  scripts/workflow_enforcer.py
Due: none

fix(workflow): synchronize state between PhaseRunner and WorkflowEnforcer (#1704) (#1705)
  context/trace/implementation-plans/issue-1704-plan.md
  context/trace/scratchpad/2025-08-01-issue-1704-sprint-42-fix-workflow-phase-runner-state-synchron.md
  context/trace/task-templates/issue-1704-sprint-42-fix-workflow-phase-runner-state-synchron.md
  scripts/agent_hooks.py
  scripts/workflow_cli.py
  scripts/workflow_enforcer.py
  scripts/workflow_phase_runner.py
  tests/test_workflow_phase_runner.py
Due: test-imports

docs(trace): add task template and execution plan for issue #1706
  context/trace/scratchpad/2025-08-01-issue-1706-sprint-42-fix-workflow-executor-implementation-pha.md
  context/trace/task-templates/issue-1706-sprint-42-fix-workflow-executor-implementation-pha.md
Due: none

docs(plan): create implementation plan for issue #1706
  context/trace/implementation-plans/issue-1706-plan.md
Due: none

fix(workflow): implement actual code changes in execute_implementation
  scripts/workflow_executor.py
Due: none

fix(workflow): implement actual code changes in execute_implementation phase (#1707)
  context/trace/implementation-plans/issue-1706-plan.md
  context/trace/scratchpad/2025-08-01-issue-1706-sprint-42-fix-workflow-executor-implementation-pha.md
  context/trace/task-templates/issue-1706-sprint-42-fix-workflow-executor-implementation-pha.md
  scripts/workflow_executor.py
Due: none

Path conditions:
  context-lint: any of: ^context/.*\.yaml$
  test-imports: any of: ^tests/.*\.py$
