Repository credentum/agent-context-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: context-lint, test-imports

.pre-commit-config.yaml:

---
# Updated pre-commit configuration that matches CI but is practical
repos:
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3.11
        exclude: tests/test_formatting_issues\.py

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [types-PyYAML, types-redis, types-requests]
        args: [--config-file=mypy.ini, --ignore-missing-imports]
        files: ^src/
        # Only check src/ files for now, tests need more work

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: |
          (?x)^(
            context/schemas/.*\.yaml|
            \.github/workflows/arc-follow-up-processor\.yml
          )$
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-json
      - id: debug-statements
      - id: mixed-line-ending

  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        args: ["--profile", "black"]

  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args: ['--max-line-length=100', '--extend-ignore=E203,W503']
        # Run on all Python files like CI does

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        name: yamllint (general)
        args: [--format, parsable, --strict]
        files: \.(yaml|yml)$
        exclude: ^(\.github/workflows/|workflows/|\.pre-commit-config.*\.yaml|context/sprints/sprint-4\.1\.yaml)
      - id: yamllint
        name: yamllint (workflows)
        args: [--format, parsable, -c, .yamllint-workflows.yml]
        files: ^\.github/workflows/.*\.ya?ml$
        exclude: ^\.github/workflows/arc-follow-up-processor\.yml$

  - repo: local
    hooks:
      - id: context-lint
        name: Context YAML Lint
        entry: python -m src.agents.context_lint validate context/
        language: system
        files: ^context/.*\.yaml$
        pass_filenames: false

      - id: test-imports
        name: Check Test Module Imports
        entry: python -m pytest --collect-only -q
        language: system
        files: ^tests/.*\.py$
        pass_filenames: false

      - id: generate-coverage-matrix
        name: Generate Coverage Matrix
        entry: python scripts/generate_coverage_matrix.py
        language: system
        pass_filenames: false
        stages: [manual]

      - id: check-pr-keywords
        name: Check PR Keywords
        entry: ./scripts/check-pr-keywords.sh
        language: script
        always_run: true
        pass_filenames: false
        stages: [commit-msg]

fix: address arc reviewer issues - all checks passing
  .workflow-state-456.json
  context/trace/logs/claude-edits.log
  context/trace/logs/claude-pre-commit.log
Due: none

feat(workflow): integrate enforcement system into workflow-issue command (#1643)
  .claude/workflows/workflow-issue.md
  .workflow-state-456.json
  context/sprints/sprint-4.1.yaml
  context/trace/logs/claude-edits.log
  context/trace/logs/claude-pre-commit.log
  context/trace/logs/workflow-completions.log
  context/trace/scratchpad/2025-07-25-issue-1640-integrate-workflow-enforcement.md
  context/trace/task-templates/issue-1640-integrate-workflow-enforcement.md
  tests/test_workflow_validator.py
Due: context-lint, test-imports

docs(trace): add task template and execution plan for issue #1641 - ARC reviewer implementation
  context/trace/scratchpad/2025-07-25-issue-1641-arc-reviewer.md
  context/trace/task-templates/issue-1641-fix-arc-reviewer-discrepancies.md
Due: none

docs(trace): add task template and execution plan for issue #1645 - workflow enforcement implementation
  context/trace/scratchpad/2025-07-26-issue-1645-workflow-enforcement.md
  context/trace/task-templates/issue-1645-workflow-enforcement.md
Due: none

feat(workflow): implement core workflow enforcement system
  scripts/agent_hooks.py
  scripts/validators/workflow_validator.py
  scripts/workflow_cli.py
  scripts/workflow_enforcer.py
Due: none

test(workflow): add comprehensive tests for workflow enforcement
  tests/test_agent_hooks.py
  tests/test_workflow_enforcer.py
Due: test-imports

fix(tests): fix test isolation and assertion issues
  tests/test_agent_hooks.py
  tests/test_workflow_enforcer.py
Due: test-imports

feat(config): add workflow enforcement configuration
  .claude/config/workflow-enforcement.yaml
Due: none

fix(arc): address ARC reviewer blocking issues
  .claude/config/workflow-enforcement.yaml
  scripts/__init__.py
  tests/test_agent_hooks.py
Due: test-imports

fix(tests): resolve test failures and improve test isolation
  tests/test_agent_hooks.py
  tests/test_workflow_enforcer.py
Due: test-imports

test(skip): temporarily skip flaky tests with isolation issues
  tests/test_agent_hooks.py
Due: test-imports

feat(workflow): implement workflow enforcement system (#1645) (#1646)
  .claude/config/workflow-enforcement.yaml
  context/trace/scratchpad/2025-07-25-issue-1641-arc-reviewer.md
  context/trace/scratchpad/2025-07-26-issue-1645-workflow-enforcement.md
  context/trace/task-templates/issue-1641-fix-arc-reviewer-discrepancies.md
  context/trace/task-templates/issue-1645-workflow-enforcement.md
  scripts/__init__.py
  scripts/agent_hooks.py
  scripts/validators/workflow_validator.py
  scripts/workflow_cli.py
  scripts/workflow_enforcer.py
  tests/test_agent_hooks.py
  tests/test_workflow_enforcer.py
Due: test-imports

docs(trace): add task template and execution plan for issue #1647
  context/trace/scratchpad/2025-07-26-issue-1647-workflow-agent-integration.md
  context/trace/task-templates/issue-1647-workflow-agent-integration.md
Due: none

feat(workflow): integrate enforcement with sub-agents
  .claude/agents/issue-investigator.md
  .claude/agents/pr-manager.md
  .claude/agents/task-planner.md
  .claude/agents/test-runner.md
  .claude/agents/workflow-coordinator.md
  .claude/commands/workflow-issue.md
  .workflow-state-456.json
  context/trace/logs/workflow-enforcement.log
  scripts/requirements.txt
  scripts/validators/__init__.py
  scripts/validators/config_sync.py
  scripts/validators/python_compat.py
  scripts/workflow_cli.py
  tests/test_workflow_agent_integration.py
Due: test-imports

chore(logs): update workflow logs
  context/trace/logs/claude-pre-commit.log
  context/trace/logs/workflow-enforcement.log
Due: none

docs(trace): update task template with actuals and add completion log for issue #1647
  context/trace/logs/workflow-completions.log
  context/trace/task-templates/issue-1647-workflow-agent-integration.md
Due: none

fix: address ARC reviewer blocking issues
  context/trace/logs/claude-edits.log
  context/trace/logs/claude-pre-commit.log
  context/trace/logs/workflow-enforcement.log
  scripts/requirements.txt
  scripts/validators/__init__.py
  scripts/validators/config_sync.py
  scripts/validators/python_compat.py
  scripts/workflow_cli.py
Due: none

feat(workflow): integrate enforcement with sub-agents for issue #1647 (#1648)
  .claude/agents/issue-investigator.md
  .claude/agents/pr-manager.md
  .claude/agents/task-planner.md
  .claude/agents/test-runner.md
  .claude/agents/workflow-coordinator.md
  .claude/commands/workflow-issue.md
  .workflow-state-456.json
  context/trace/logs/claude-edits.log
  context/trace/logs/claude-pre-commit.log
  context/trace/logs/workflow-completions.log
  context/trace/logs/workflow-enforcement.log
  context/trace/scratchpad/2025-07-26-issue-1647-workflow-agent-integration.md
  context/trace/task-templates/issue-1647-workflow-agent-integration.md
  scripts/validators/__init__.py
  scripts/workflow_cli.py
  tests/test_workflow_agent_integration.py
Due: test-imports

docs(trace): add task template and execution plan for issue #1649
  context/trace/scratchpad/2025-07-26-issue-1649-workflow-issue-persistence.md
  context/trace/task-templates/issue-1649-workflow-issue-agent-persistence.md
Due: none

fix(workflow): enable persistent changes in workflow-issue command
  .claude/commands/workflow-issue.md
  scripts/workflow_cli.py
  scripts/workflow_executor.py
Due: none

docs(trace): update task template with actuals and add completion log for issue #1649
  context/trace/logs/workflow-completions.log
  context/trace/task-templates/issue-1649-workflow-issue-agent-persistence.md
Due: none

test: fix MyPy issues and add comprehensive WorkflowExecutor tests
  .workflow-state-1644.json
  context/trace/logs/claude-edits.log
  context/trace/logs/claude-pre-commit.log
  context/trace/logs/workflow-enforcement.log
  scripts/workflow_executor.py
  tests/load_tests.py
  tests/test_agent_hooks.py
  tests/test_workflow_executor.py
  tests/test_workflow_validator.py
Due: test-imports

fix: address all ARC reviewer blocking issues
  context/trace/logs/claude-pre-commit.log
  context/trace/logs/workflow-enforcement.log
  mypy.ini
  scripts/workflow_executor.py
  tests/test_workflow_executor.py
Due: test-imports

fix(workflow): enable persistent changes in workflow-issue command (#1650)
  .claude/commands/workflow-issue.md
  .workflow-state-1644.json
  context/trace/logs/claude-edits.log
  context/trace/logs/claude-pre-commit.log
  context/trace/logs/workflow-completions.log
  context/trace/logs/workflow-enforcement.log
  context/trace/scratchpad/2025-07-26-issue-1649-workflow-issue-persistence.md
  context/trace/task-templates/issue-1649-workflow-issue-agent-persistence.md
  mypy.ini
  scripts/workflow_cli.py
  scripts/workflow_executor.py
  tests/load_tests.py
  tests/test_agent_hooks.py
  tests/test_workflow_executor.py
  tests/test_workflow_validator.py
Due: test-imports

docs(trace): add task template and execution plan for issue #1652
  .workflow-state-1651.json
  context/trace/logs/workflow-enforcement.log
  context/trace/scratchpad/2025-07-26-issue-1652-fix-workflow-issue-command.md
  context/trace/task-templates/issue-1652-fix-workflow-issue-command.md
Due: none

fix(workflow): enable persistent changes in workflow-issue command
  scripts/workflow_cli.py
Due: none

docs(trace): update task template with actuals and add completion log for issue #1652
  context/trace/logs/workflow-completions.log
  context/trace/task-templates/issue-1652-fix-workflow-issue-command.md
Due: none

fix: address ARC reviewer feedback for issue #1652
  .workflow-state-2970.json
  .workflow-state-3893.json
  .workflow-state-4016.json
  .workflow-state-6895.json
  .workflow-state-7567.json
  .workflow-state-7672.json
  .workflow-state-8648.json
  .workflow-state-999.json
  context/trace/logs/claude-pre-commit.log
  context/trace/logs/pr-status.log
  context/trace/logs/workflow-enforcement.log
  context/trace/task-templates/issue-1652-fix-workflow-issue-command.md
  tests/test_workflow_agent_integration.py
Due: test-imports

fix(workflow): enable persistent changes in workflow-issue command (#1654)
  .workflow-state-1651.json
  .workflow-state-2970.json
  .workflow-state-3893.json
  .workflow-state-4016.json
  .workflow-state-6895.json
  .workflow-state-7567.json
  .workflow-state-7672.json
  .workflow-state-8648.json
  .workflow-state-999.json
  context/trace/logs/claude-pre-commit.log
  context/trace/logs/pr-status.log
  context/trace/logs/workflow-completions.log
  context/trace/logs/workflow-enforcement.log
  context/trace/scratchpad/2025-07-26-issue-1652-fix-workflow-issue-command.md
  context/trace/task-templates/issue-1652-fix-workflow-issue-command.md
  scripts/workflow_cli.py
  tests/test_workflow_agent_integration.py
Due: test-imports

docs(trace): add task template and execution plan for issue #1653
  context/trace/scratchpad/2025-07-26-issue-1653-hybrid-workflow-enhancement.md
  context/trace/task-templates/issue-1653-enhance-workflow-system-with-hybrid-sub-agent-specialists.md
Due: none

feat(workflow): add hybrid sub-agent specialist support
  .claude/config/specialist-agents.yaml
  scripts/hybrid_workflow_executor.py
  scripts/workflow_cli.py
  tests/test_hybrid_workflow.py
Due: test-imports

docs(workflow): add hybrid mode documentation
  .claude/workflows/workflow-issue.md
Due: none

docs(commands): update workflow-issue command with hybrid mode
  .claude/commands/workflow-issue.md
Due: none

docs(trace): update task template with actuals and add completion log for issue #1653
  context/trace/logs/workflow-completions.log
  context/trace/scratchpad/2025-07-26-issue-1653-hybrid-workflow-enhancement.md
  context/trace/task-templates/issue-1653-enhance-workflow-system-with-hybrid-sub-agent-specialists.md
Due: none

fix: address PR review comments
  .claude/config/specialist-agents.yaml
  scripts/hybrid_workflow_executor.py
Due: none

feat(workflow): enhance workflow system with hybrid sub-agent specialists (#1655)
  .claude/commands/workflow-issue.md
  .claude/config/specialist-agents.yaml
  .claude/workflows/workflow-issue.md
  context/trace/logs/workflow-completions.log
  context/trace/scratchpad/2025-07-26-issue-1653-hybrid-workflow-enhancement.md
  context/trace/task-templates/issue-1653-enhance-workflow-system-with-hybrid-sub-agent-specialists.md
  scripts/hybrid_workflow_executor.py
  scripts/workflow_cli.py
  tests/test_hybrid_workflow.py
Due: test-imports

docs(trace): add task template and execution plan for issue #1651
  context/trace/scratchpad/2025-07-26-issue-1651-ci-pipeline.md
  context/trace/task-templates/issue-1651-fix-ci-pipeline.md
Due: none

fix(workflow): fix phase transitions and add skip phase support
  .workflow-state-1644.json
  .workflow-state-1651.json
  .workflow-state-1657.json
  .workflow-state-2970.json
  .workflow-state-3893.json
  .workflow-state-4016.json
  .workflow-state-6895.json
  .workflow-state-7672.json
  .workflow-state-8648.json
  .workflow-state-999.json
  context/trace/logs/claude-edits.log
  context/trace/logs/claude-pre-commit.log
  context/trace/logs/workflow-enforcement.log
  scripts/agent_hooks.py
  scripts/hybrid_workflow_executor.py
  scripts/workflow_cli.py
  scripts/workflow_enforcer.py
  scripts/workflow_executor.py
  tests/test_workflow_integration.py
  tests/test_workflow_phase_transitions.py
Due: test-imports

style: add final newlines to workflow state files
  .workflow-state-1037.json
  .workflow-state-1657.json
  .workflow-state-1811.json
  .workflow-state-4523.json
  .workflow-state-456.json
  .workflow-state-4902.json
  .workflow-state-8481.json
  .workflow-state-8832.json
  .workflow-state-9013.json
  .workflow-state-9079.json
  context/trace/logs/workflow-enforcement.log
  tests/test_workflow_phase_transitions.py
Due: test-imports

chore: remove workflow state files from git
  .workflow-state-1037.json
  .workflow-state-1657.json
  .workflow-state-1811.json
  .workflow-state-4523.json
  .workflow-state-456.json
  .workflow-state-4902.json
  .workflow-state-8481.json
  .workflow-state-8832.json
  .workflow-state-9013.json
  .workflow-state-9079.json
Due: none
