Repository credentum/agent-context-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: context-lint, test-imports

context-lint:
  name: Context YAML Lint
  entry: python -m src.agents.context_lint validate context/
  language: system
  pass_filenames: false

test-imports:
  name: Check Test Module Imports
  entry: python -m pytest --collect-only -q
  language: system
  pass_filenames: false

docs(trace): add task template and execution plan for issue #1708
  context/trace/scratchpad/2025-08-01-issue-1708-sprint-42-test-validate-workflow-implementation-cr.md
  context/trace/task-templates/issue-1708-sprint-42-test-validate-workflow-implementation-cr.md
Due: none

docs(plan): create implementation plan for issue #1708
  context/trace/implementation-plans/issue-1708-plan.md
Due: none

feat(workflow): implement workflow test utilities and comprehensive tests
  context/trace/task-templates/issue-1708-sprint-42-test-validate-workflow-implementation-cr.md
  scripts/workflow_enforcer.py
  scripts/workflow_executor.py
  scripts/workflow_phase_runner.py
  scripts/workflow_test_utils.py
  tests/test_workflow_test_utils.py
Due: test-imports

fix(workflow): implement workflow phase runner with timeout handling for issue #1708 (#1712)
  context/trace/implementation-plans/issue-1708-plan.md
  context/trace/scratchpad/2025-08-01-issue-1708-sprint-42-test-validate-workflow-implementation-cr.md
  context/trace/task-templates/issue-1708-sprint-42-test-validate-workflow-implementation-cr.md
  scripts/workflow_enforcer.py
  scripts/workflow_executor.py
  scripts/workflow_phase_runner.py
  scripts/workflow_test_utils.py
  tests/test_workflow_test_utils.py
Due: test-imports

docs(trace): add task template and execution plan for issue #1711
  context/trace/scratchpad/2025-08-01-issue-1711-sprint-42-fix-workflow-validation-phase-timeout-fo.md
  context/trace/task-templates/issue-1711-sprint-42-fix-workflow-validation-phase-timeout-fo.md
Due: none

docs(plan): create implementation plan for issue #1711
  context/trace/implementation-plans/issue-1711-plan.md
Due: none

fix(workflow): add phase-specific timeout for validation phase
  scripts/workflow_config.py
  scripts/workflow_phase_runner.py
Due: none

style(workflow): apply Black formatting and add timeout helper method
  scripts/workflow_config.py
  scripts/workflow_phase_runner.py
Due: none

fix(workflow): resolve validation phase timeout for full CI execution (#1713)
  context/trace/implementation-plans/issue-1711-plan.md
  context/trace/scratchpad/2025-08-01-issue-1711-sprint-42-fix-workflow-validation-phase-timeout-fo.md
  context/trace/task-templates/issue-1711-sprint-42-fix-workflow-validation-phase-timeout-fo.md
  scripts/workflow_config.py
  scripts/workflow_phase_runner.py
Due: none

docs(trace): add task template and execution plan for issue #1709
  context/trace/scratchpad/2025-08-01-issue-1709-sprint-42-add-automated-verification-to-workflow-p.md
  context/trace/task-templates/issue-1709-sprint-42-add-automated-verification-to-workflow-p.md
Due: none

docs(plan): create implementation plan for issue #1709
  context/trace/implementation-plans/issue-1709-plan.md
Due: none

feat(workflow): implement automated verification methods for workflow phases
  context/trace/implementation-errors/issue-1234-error.md
  context/trace/implementation-plans/issue-1234-plan.md
  context/trace/implementation-plans/issue-1689-plan.md
  scripts/workflow_executor.py
  tests/test_workflow_executor.py
Due: test-imports

fix(workflow): address ARC reviewer code quality issues
  scripts/workflow_executor.py
Due: none

fix(workflow): resolve all ARC reviewer blocking issues
  .claude/agents/architecture-review.md
  .claude/commands/create-pr.md
  .claude/troubleshooting/autonomous-pr-creation.md
  .devcontainer/postCreateCommand.sh
  .github/ISSUE_TEMPLATE/autonomous-pr-issues.md
  .github/workflows/archived/README.md
  .github/workflows/claude-code-review.yml
  CLAUDE.md
  context/.embeddings_cache/hash_cache.json
  context/architecture/modal-oauth-flow.md
  context/architecture/oauth-error-handling.md
  context/mcp_contracts/autonomous_agents.yaml
  context/sprints/sprint-6.yaml
  context/trace/implementation-errors/issue-1234-error.md
  context/trace/implementation-plans/issue-1234-plan.md
  context/trace/implementation-plans/issue-1689-plan.md
  context/trace/implementation-plans/issue-1709-plan.md
  context/trace/investigations/issue-2-investigation.md
  context/trace/task-templates/issue-1694-sprint-test-verify-hybrid-workflow-resilience-and.md
  context/trace/task-templates/issue-1702-sprint-42-fix-docker-ci-read-only-filesystem-and-p.md
  context/trace/task-templates/issue-1704-sprint-42-fix-workflow-phase-runner-state-synchron.md
  context/trace/task-templates/issue-1706-sprint-42-fix-workflow-executor-implementation-pha.md
  context/trace/task-templates/issue-1708-sprint-42-test-validate-workflow-implementation-cr.md
  context/trace/task-templates/issue-1709-sprint-42-add-automated-verification-to-workflow-p.md
  context/trace/task-templates/issue-1711-sprint-42-fix-workflow-validation-phase-timeout-fo.md
  docker-compose.prod.yml
  scripts/create-autonomous-pr.sh
  scripts/run-precommit-ci-safe.sh
  scripts/run-precommit-with-overlay.sh
  scripts/run-two-phase-ci.sh
  scripts/test-lint-fast.sh
  scripts/test-quick-ci.sh
  scripts/workflow_executor.py
  scripts/workflow_test_utils.py
  tests/test_workflow_executor.py
  tests/test_workflow_test_utils.py
Due: context-lint, test-imports

feat(workflow): Add automated verification to workflow phases - Issue #1709 (#1714)
  .claude/agents/architecture-review.md
  .claude/commands/create-pr.md
  .claude/troubleshooting/autonomous-pr-creation.md
  .devcontainer/postCreateCommand.sh
  .github/ISSUE_TEMPLATE/autonomous-pr-issues.md
  .github/workflows/archived/README.md
  .github/workflows/claude-code-review.yml
  CLAUDE.md
  context/.embeddings_cache/hash_cache.json
  context/architecture/modal-oauth-flow.md
  context/architecture/oauth-error-handling.md
  context/mcp_contracts/autonomous_agents.yaml
  context/sprints/sprint-6.yaml
  context/trace/investigations/issue-2-investigation.md
  context/trace/scratchpad/2025-08-01-issue-1709-sprint-42-add-automated-verification-to-workflow-p.md
  context/trace/task-templates/issue-1694-sprint-test-verify-hybrid-workflow-resilience-and.md
  context/trace/task-templates/issue-1702-sprint-42-fix-docker-ci-read-only-filesystem-and-p.md
  context/trace/task-templates/issue-1704-sprint-42-fix-workflow-phase-runner-state-synchron.md
  context/trace/task-templates/issue-1706-sprint-42-fix-workflow-executor-implementation-pha.md
  context/trace/task-templates/issue-1708-sprint-42-test-validate-workflow-implementation-cr.md
  context/trace/task-templates/issue-1709-sprint-42-add-automated-verification-to-workflow-p.md
  context/trace/task-templates/issue-1711-sprint-42-fix-workflow-validation-phase-timeout-fo.md
  docker-compose.prod.yml
  scripts/create-autonomous-pr.sh
  scripts/run-precommit-ci-safe.sh
  scripts/run-precommit-with-overlay.sh
  scripts/run-two-phase-ci.sh
  scripts/test-lint-fast.sh
  scripts/test-quick-ci.sh
  scripts/workflow_executor.py
  scripts/workflow_test_utils.py
  tests/test_workflow_executor.py
  tests/test_workflow_test_utils.py
Due: context-lint, test-imports

docs(trace): add task template and execution plan for issue #1710
  context/trace/scratchpad/2025-08-01-issue-1710-sprint-42-create-end-to-end-workflow-pipeline-test.md
  context/trace/task-templates/issue-1710-sprint-42-create-end-to-end-workflow-pipeline-test.md
Due: none

docs(plan): create implementation plan for issue #1710
  context/trace/implementation-plans/issue-1710-plan.md
Due: none

feat(test): implement end-to-end workflow pipeline test suite
  src/utils/workflow_test_utils.py
  tests/README_workflow_e2e_tests.md
  tests/fixtures/workflow_test_issues/bug_fix_scenario.json
  tests/fixtures/workflow_test_issues/new_module_creation.json
  tests/fixtures/workflow_test_issues/simple_function_addition.json
  tests/test_workflow_pipeline_e2e.py
Due: test-imports

fix(test): update e2e tests to work with current WorkflowExecutor API
  src/utils/workflow_test_utils.py
  tests/test_workflow_pipeline_e2e.py
Due: test-imports

style: apply black formatting to test files
  src/utils/workflow_test_utils.py
  tests/test_workflow_pipeline_e2e.py
Due: test-imports

docs(trace): update task template with actuals and add completion log for issue #1710
  context/trace/logs/workflow-completions.log
  context/trace/task-templates/issue-1710-sprint-42-create-end-to-end-workflow-pipeline-test.md
Due: none

fix(workflow): implement actual code execution in workflow executor
  scripts/workflow_executor.py
  scripts/workflow_task_bridge.py
Due: none

style: fix flake8 line length issues
  context/trace/implementation-errors/issue-1234-error.md
  context/trace/implementation-plans/issue-1234-plan.md
  context/trace/implementation-plans/issue-1689-plan.md
  scripts/workflow_executor.py
Due: none

fix(docker-ci): improve process cleanup and reduce stop grace period
  context/.embeddings_cache/hash_cache.json
  context/trace/implementation-plans/issue-1689-fallback.md
  context/trace/logs/workflow-completions.log
  context/trace/task-1234.py
  context/trace/task-1689.py
  context/trace/task-9999.py
  docker-compose.ci.yml
  scripts/test-comprehensive-ci-improved.sh
  scripts/test-comprehensive-ci.sh
  scripts/workflow_task_bridge.py
Due: none

docs: Improve PR creation documentation with proven working method
  .claude/troubleshooting/autonomous-pr-creation.md
  .claude/troubleshooting/pr-creation-memory-guide.md
  CLAUDE.md
Due: none

docs: Improve PR creation documentation with proven working method (#1716)
  .claude/troubleshooting/autonomous-pr-creation.md
  .claude/troubleshooting/pr-creation-memory-guide.md
  CLAUDE.md
Due: none

docs: Add context-store Claude workflow PR documentation
  context-store-claude-workflow-pr.md
Due: none

docs: Add context-store Claude workflow PR documentation (#1717)
  context-store-claude-workflow-pr.md
Due: none

style: fix import sorting in workflow_task_bridge.py
  scripts/workflow_task_bridge.py
Due: none

fix: address ARC reviewer blocking issues
  scripts/workflow_executor.py
  scripts/workflow_task_bridge.py
  tests/fixtures/workflow_test_issues/bug_fix_scenario.json
  tests/fixtures/workflow_test_issues/new_module_creation.json
  tests/fixtures/workflow_test_issues/simple_function_addition.json
  tests/test_workflow_pipeline_e2e.py
Due: test-imports

style: fix line length issues in workflow_executor.py
  scripts/workflow_executor.py
Due: none

fix: address ARC reviewer warnings
  context/trace/task-templates/issue-1710-sprint-42-create-end-to-end-workflow-pipeline-test.md
  scripts/workflow_executor.py
Due: none

docs(trace): add task template and execution plan for issue #1718
  context/trace/scratchpad/2025-08-02-issue-1718-add-simple-greeting-function-to-utils.md
  context/trace/task-templates/issue-1718-add-simple-greeting-function-to-utils.md
Due: none

docs(plan): create implementation plan for issue #1718
  context/trace/implementation-plans/issue-1718-plan.md
Due: none

feat: add simple greeting function to utils
  context/trace/investigations/issue-1718-investigation.md
  src/utils/helpers.py
  tests/test_helpers.py
Due: test-imports

feat: enhance ARC reviewer with comprehensive linting capabilities
  scripts/test-comprehensive-ci.sh
  src/agents/arc_reviewer.py
  src/agents/llm_reviewer.py
  tests/test_workflow_pipeline_e2e.py
  tests/test_workflow_task_bridge.py
Due: test-imports

fix: resolve ARC reviewer blocking issues and test failures
  scripts/workflow_executor.py
  src/agents/arc_reviewer.py
  src/agents/llm_reviewer.py
Due: none

Path conditions:
  context-lint: any of: ^context/.*\.yaml$
  test-imports: any of: ^tests/.*\.py$
