Repository credentum/agent-context-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: context-lint, test-imports

context-lint:
  name: Context YAML Lint
  entry: python -m src.agents.context_lint validate context/
  language: system
  pass_filenames: false

test-imports:
  name: Check Test Module Imports
  entry: python -m pytest --collect-only -q
  language: system
  pass_filenames: false

fix(claude): move /fix-issue command to proper location
  .claude/commands/fix-issue.md
  CLAUDE.md
Due: none

fix(claude): address PR review feedback
  CLAUDE.md
Due: none

fix(linting): resolve mypy and flake8 errors
  .pre-commit-config.yaml
  mypy.ini
  src/agents/cleanup_agent.py
  src/agents/context_lint.py
  src/agents/sprint_issue_linker.py
  src/agents/update_sprint.py
  src/analytics/context_analytics.py
  src/analytics/sum_scores_api.py
  src/core/base_component.py
  src/integrations/graphrag_integration.py
  src/storage/graph_builder.py
  src/storage/hash_diff_embedder_async.py
  src/storage/neo4j_init.py
  src/storage/vector_db_init.py
  src/validators/config_validator.py
  src/validators/kv_validators.py
Due: none

fix(docs): address PR review feedback - fix API examples and coverage
  .pre-commit-config.yaml
  CLAUDE.md
Due: none

feat(ci): add local CI testing infrastructure to prevent PR failures
  .pre-commit-config-ci.yaml
  Dockerfile.ci
  docker-compose.ci.yml
  docs/ci-testing-guide.md
  scripts/test-like-ci.sh
Due: none

fix(pre-commit): update config to match CI behavior
  .pre-commit-config.yaml
Due: none

Update sprint-task.md
  .github/ISSUE_TEMPLATE/sprint-task.md
Due: none

Update claude-code-review.yml
  .github/workflows/claude-code-review.yml
Due: none

fix(lint): partial MyPy fixes
  Makefile
  README.md
  context/trace/scratchpad/2025-07-14-issue-28-docker-compose-stack.md
  infra/docker-compose.yml
  mypy-errors.txt
  scripts/fix_mypy_comprehensive.py
  scripts/fix_mypy_dict_errors.py
  scripts/fix_mypy_errors.py
  scripts/fix_remaining_mypy.py
  tests/test_context_kv_coverage.py
  tests/test_context_kv_methods.py
  tests/test_integration_ci_workflow.py
  tests/test_metadata_validation.py
  tests/test_property_based_extended.py
  tests/test_sigstore_verification.py
  tests/test_traceability_matrix.py
Due: test-imports

fix(lint): update pre-commit config and add lint workflow
  .github/workflows/lint-verification.yml
  .pre-commit-config-updated.yaml
  .pre-commit-config.yaml.bak
Due: none

fix(tests): fix and skip problematic context_kv tests
  tests/test_context_kv_methods.py
Due: test-imports

fix(format): fix final line length issue in fix_remaining_mypy.py
  scripts/fix_mypy_comprehensive.py
  scripts/fix_mypy_dict_errors.py
  scripts/fix_mypy_errors.py
  scripts/fix_remaining_mypy.py
  tests/test_metadata_validation.py
Due: test-imports

fix(lint): remove helper scripts causing mypy issues
  scripts/fix_mypy_comprehensive.py
  scripts/fix_mypy_dict_errors.py
  scripts/fix_mypy_errors.py
Due: none

fix(lint): resolve CI/local parity issues
  run_all_tests.py
  tests/test_integration_ci_workflow.py
Due: test-imports

fix(format): synchronize black versions across environments
  .pre-commit-config.yaml
  requirements-dev.txt
Due: none

fix(format): apply black 25.1.0 formatting to generate_coverage_matrix.py
  scripts/generate_coverage_matrix.py
Due: none

fix: synchronize local and CI linting environments
  .github/workflows/sprint-update.yml
  .pre-commit-config.yaml
  requirements-dev.txt
  tests/test_context_lint_coverage.py
Due: test-imports

fix: add missing linting dependencies to requirements-dev.txt
  .github/workflows/lint-verification.yml
  requirements-dev.txt
Due: none

fix: allow YAML lint failures to not block CI
  .github/workflows/lint-verification.yml
Due: none

chore: update sprint status via automation
  context/sprints/sprint-002.yaml
  sprint_report.md
Due: context-lint

fix(agents): treat 'no updates needed' as success in sprint updater
  src/agents/update_sprint.py
Due: none

fix(agents): treat 'no updates needed' as success in sprint updater (#47)
  src/agents/update_sprint.py
Due: none

fix(workflows): add issues write permission for sprint comments
  .github/workflows/sprint-update.yml
Due: none

fix(workflows): add issues write permission for sprint comments (#48)
  .github/workflows/sprint-update.yml
Due: none

feat(workflow): implement complete design → decisions → sprints automation
  .github/workflows/generate-sprint-issues.yml
  CLAUDE.md
  context/sprints/sprint-4.1.yaml
  context/sprints/sprint-template.yaml
  docs/coverage-matrix.md
  docs/design-to-sprint-workflow.md
  docs/sprint-workflow-guide.md
  docs/test-coverage-guide.md
  src/agents/sprint_issue_linker.py
Due: context-lint

fix(ci): resolve lint errors and update claude-code-review workflow
  .github/workflows/claude-code-review.yml
  .github/workflows/generate-sprint-issues.yml
  context/sprints/sprint-4.1.yaml
  context/sprints/sprint-template.yaml
  context/trace/scratchpad/2025-07-14-issue-28-docker-compose-stack.md
  infra/docker-compose.yml
  mypy-errors.txt
  src/agents/sprint_issue_linker.py
Due: context-lint

feat(sprint): add sprint template for creating new sprints
  context/sprints/sprint-template.yaml
Due: context-lint

fix(security): address critical security vulnerabilities and improve CI testing
  .claude/commands/fix-issue.md
  .github/workflows/claude-code-review.yml
  .github/workflows/generate-sprint-issues.yml
  .github/workflows/lint-verification.yml
  CLAUDE.md
  Makefile
  context/sprints/sprint-template.yaml
  docker-compose.ci.yml
  docs/CI-TESTING.md
  docs/local-ci-lint-guide.md
  scripts/run-ci-docker.sh
  scripts/run-ci-lint-locally.sh
  scripts/test-like-ci.sh
  src/agents/sprint_issue_linker.py
  tests/test_sprint_issue_linker_coverage.py
Due: context-lint, test-imports

fix(security): address critical security vulnerabilities and improve CI testing
  .github/workflows/claude-code-review.yml
  .github/workflows/generate-sprint-issues.yml
  .hypothesis/unicode_data/15.0.0/codec-utf-8.json.gz
  CLAUDE.md
  Dockerfile.ci
  README.md
  context/schemas/sprint_full.yaml
  context/sprints/sprint-template.yaml
  coverage-summary.json
  tests/test_e2e.py
  tests/test_hash_diff_embedder_coverage.py
Due: context-lint, test-imports

feat(workflow): implement complete design → decisions → sprints automation (#49)
  .claude/commands/fix-issue.md
  .github/workflows/claude-code-review.yml
  .github/workflows/generate-sprint-issues.yml
  .github/workflows/lint-verification.yml
  .hypothesis/unicode_data/15.0.0/codec-utf-8.json.gz
  CLAUDE.md
  Dockerfile.ci
  Makefile
  README.md
  context/schemas/sprint_full.yaml
  context/sprints/sprint-template.yaml
  context/trace/scratchpad/2025-07-14-issue-28-docker-compose-stack.md
  coverage-summary.json
  docker-compose.ci.yml
  docs/CI-TESTING.md
  docs/coverage-matrix.md
  docs/design-to-sprint-workflow.md
  docs/local-ci-lint-guide.md
  docs/sprint-workflow-guide.md
  docs/test-coverage-guide.md
  infra/docker-compose.yml
  mypy-errors.txt
  scripts/run-ci-docker.sh
  scripts/run-ci-lint-locally.sh
  scripts/test-like-ci.sh
  src/agents/sprint_issue_linker.py
  tests/test_e2e.py
  tests/test_hash_diff_embedder_coverage.py
  tests/test_sprint_issue_linker_coverage.py
Due: context-lint, test-imports

fix(infra): fix Docker Compose health checks for Qdrant and Neo4j
  infra/docker-compose.yml
Due: none

restore: recover accidentally deleted sprint-4.1.yaml
  context/sprints/sprint-4.1.yaml
Due: context-lint

fix(security): address workflow permissions and GITHUB_TOKEN issues
  .github/workflows/generate-sprint-issues.yml
Due: none

docs(issue-28): update scratchpad with final resolution details
  context/trace/scratchpad/2025-07-14-issue-28-docker-compose-stack.md
Due: none

Temporarily skip coverage checks for infrastructure PRs
  .github/workflows/test-coverage.yml
Due: none

fix(workflows): skip ARC-Reviewer coverage checks for infrastructure PRs
  .github/workflows/claude-code-review.yml
Due: none

Path conditions:
  context-lint: any of: ^context/.*\.yaml$
  test-imports: any of: ^tests/.*\.py$
