Repository credentum/agent-context-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: context-lint, test-imports

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        language_version: python3.11
        # Run on all Python files, not just staged ones, to match CI
        pass_filenames: false
        args: [.]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [types-PyYAML, types-redis, types-requests]
        args: [--config-file=mypy.ini, .]
        exclude: ^(tests/|.venv_ci_test/)
        # Run on all files to match CI
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^context/schemas/
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-json
      - id: debug-statements
      - id: mixed-line-ending

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ["--profile", "black"]

  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args: [--max-line-length=100, --extend-ignore=E203]
        exclude: ^(tests/|.venv_ci_test/)
        # Run on all Python files to catch all issues
        pass_filenames: false
        # Use same args as CI would
        entry: flake8 .

  - repo: local
    hooks:
      - id: context-lint
        name: Context YAML Lint
        entry: python -m src.agents.context_lint validate context/
        language: system
        files: ^context/.*\.yaml$
        pass_filenames: false

      - id: test-imports
        name: Check Test Module Imports
        entry: python -m pytest --collect-only -q
        language: system
        files: ^tests/.*\.py$
        pass_filenames: false

      - id: generate-coverage-matrix
        name: Generate Coverage Matrix
        entry: python scripts/generate_coverage_matrix.py
        language: system
        pass_filenames: false
        always_run: true
        stages: [manual]

chore: update sprint status via automation
  context/sprints/sprint-4.1.yaml
Due: context-lint

fix(tests): resolve CI test failures for Issue #173
  .hypothesis/unicode_data/15.0.0/codec-utf-8.json.gz
  docker-compose.ci.yml
  scripts/test-comprehensive-ci.sh
  tests/test_auto_merge_output_fix.py
  tests/test_workflow_feature_parity.py
Due: test-imports

fix(coverage): resolve ARC-Reviewer blocking issue with conflicting validator coverage reports
  reports/validator-coverage-fix.md
Due: none

fix(workflows): add missing GITHUB_TOKEN env to AI-monitored PR workflow
  .github/workflows/ai-pr-monitor.yml
Due: none

fix(workflows): prevent sprint workflow duplicates and fix AI-monitored PR workflow
  .github/workflows/ai-pr-monitor.yml
  .github/workflows/sprint-update.yml
Due: none

feat(workflows): implement AI-monitored PR process - Issue #173 (#176)
  .github/workflows/ai-pr-monitor-minimal.yml
  .github/workflows/ai-pr-monitor.yml
  .github/workflows/arc-follow-up-processor.yml.disabled
  .github/workflows/auto-merge-completion-notifier.yml.disabled
  .github/workflows/auto-merge-notifier.yml.disabled
  .github/workflows/auto-merge.yml.disabled
  .github/workflows/ci-optimized.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/generate-sprint-issues.yml
  .github/workflows/lint-verification.yml
  .github/workflows/pr-conflict-validator.yml
  .github/workflows/smart-auto-merge.yml.disabled
  .github/workflows/sprint-update.yml
  .github/workflows/test-coverage.yml
  .github/workflows/test-suite.yml
  .github/workflows/test.yml
  .hypothesis/unicode_data/15.0.0/codec-utf-8.json.gz
  .pre-commit-config-ci.yaml
  .pre-commit-config-updated.yaml
  CLAUDE.md
  context/.embeddings_cache/hash_cache.json
  context/.graph_cache/processed.json
  context/decisions/001-technology-stack.yaml
  context/sprints/sprint-001.yaml
  context/sprints/sprint-002.yaml
  context/sprints/sprint-4.1.yaml
  context/trace/scratchpad/2025-07-17-issue-173-ai-monitored-pr-process.md
  docker-compose.ci.yml
  docs/ai-pr-monitor-metrics-plan.md
  docs/ai-pr-monitor-migration-guide.md
  docs/workflow-deprecation-plan.md
  performance.yaml
  reports/validator-coverage-fix.md
  scripts/test-comprehensive-ci.sh
  tests/test_ai_pr_monitor_integration.py
  tests/test_auto_merge_output_fix.py
  tests/test_workflow_feature_parity.py
  workflows/claude.yml
Due: context-lint, test-imports

fix(ci): resolve local Docker CI environment and dependency issues
  .github/workflows/ai-pr-monitor.yml
  .github/workflows/ci-optimized.yml
  .github/workflows/lint-verification.yml
  .github/workflows/pr-conflict-validator.yml
  .github/workflows/pr-issue-validation.yml
  .github/workflows/pr-validation.yml
  CLAUDE.md
  scripts/quick-pre-push.sh
Due: none

fix(ci): resolve local Docker CI environment and dependency issues (#958)
  .github/workflows/ai-pr-monitor.yml
  .github/workflows/ci-optimized.yml
  .github/workflows/lint-verification.yml
  .github/workflows/pr-conflict-validator.yml
  .github/workflows/pr-issue-validation.yml
  .github/workflows/pr-validation.yml
  CLAUDE.md
  scripts/quick-pre-push.sh
Due: none

Update workflow-issue.md
  .claude/workflows/workflow-issue.md
Due: none

Update workflow-issue.md (#959)
  .claude/workflows/workflow-issue.md
Due: none

fix(ci): resolve ARC-Reviewer blocking issues from PR #681
  .claude/workflows/workflow-issue.md
  .github/pull_request_template.md
  .github/workflows/ai-pr-monitor.yml
  .github/workflows/pr-issue-validation.yml
  CLAUDE.md
  context/trace/scratchpad/2025-07-18-issue-760-fix-arc-reviewer-blocking-issues.md
  context/trace/task-templates/issue-760-fix-arc-reviewer-blocking-issues.md
Due: none

fix(security): remove eval command injection vulnerability and improve ARC-Reviewer validation
  .claude/commands/fix-issue.md
  .github/ISSUE_TEMPLATE/sprint-task.md
  .github/workflows/ai-pr-monitor.yml
  .github/workflows/arc-follow-up-processor.yml.disabled
  .github/workflows/pr-validation.yml
  context/.embeddings_cache/hash_cache.json
  context/.graph_cache/processed.json
  context/trace/logs/workflow-completions.log
  context/trace/scratchpad/2025-07-18-issue-760-fix-arc-reviewer-blocking-issues.md
  context/trace/task-templates/issue-760-fix-arc-reviewer-blocking-issues.md
Due: none

fix(ci): resolve ARC-Reviewer blocking issues from PR #681 (#960)
  .claude/commands/fix-issue.md
  .claude/workflows/workflow-issue.md
  .github/ISSUE_TEMPLATE/sprint-task.md
  .github/pull_request_template.md
  .github/workflows/ai-pr-monitor.yml
  .github/workflows/arc-follow-up-processor.yml.disabled
  .github/workflows/pr-issue-validation.yml
  .github/workflows/pr-validation.yml
  CLAUDE.md
  context/.embeddings_cache/hash_cache.json
  context/.graph_cache/processed.json
  context/trace/logs/workflow-completions.log
  context/trace/scratchpad/2025-07-18-issue-760-fix-arc-reviewer-blocking-issues.md
  context/trace/task-templates/issue-760-fix-arc-reviewer-blocking-issues.md
Due: none

fix(ci): re-enable sprint-update.yml workflow and fix test path issues
  .github/workflows/sprint-update.yml
  context/trace/scratchpad/2025-07-18-issue-961-fix-failing-sprint-update-yml-workflow.md
  context/trace/task-templates/issue-961-fix-failing-sprint-update-yml-workflow.md
  tests/test_workflow_feature_parity.py
Due: test-imports

fix(test): handle Docker vs local environment paths in workflow feature parity tests
  tests/test_workflow_feature_parity.py
Due: test-imports

fix(test): simplify path resolution for workflow feature parity tests
  tests/test_workflow_feature_parity.py
Due: test-imports

fix(docker): mount .github directory in ci-lint service for workflow tests
  context/trace/task-templates/issue-961-fix-failing-sprint-update-yml-workflow.md
  docker-compose.ci.yml
  tests/test_workflow_feature_parity.py
Due: test-imports

fix(ci): resolve sprint-update.yml workflow and CI validation issues (#962)
  .github/workflows/sprint-update.yml
  context/trace/scratchpad/2025-07-18-issue-961-fix-failing-sprint-update-yml-workflow.md
  context/trace/task-templates/issue-961-fix-failing-sprint-update-yml-workflow.md
  docker-compose.ci.yml
  tests/test_workflow_feature_parity.py
Due: test-imports

chore: update sprint status via automation
  context/sprints/sprint-4.1.yaml
  sprint_report.md
Due: context-lint
