Repository credentum/agent-context-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: context-lint, test-imports

context-lint:
  name: Context YAML Lint
  entry: python -m src.agents.context_lint validate context/
  language: system
  pass_filenames: false

test-imports:
  name: Check Test Module Imports
  entry: python -m pytest --collect-only -q
  language: system
  pass_filenames: false

fix(ci): resolve GitHub CI failures preventing PR merges (#1300)
  .github/workflows/claude-code-review.yml
  .github/workflows/test.yml
  context/trace/logs/pr-status.log
  context/trace/logs/workflow-completions.log
  context/trace/scratchpad/2025-07-24-issue-1299-github-ci-failures.md
  context/trace/task-templates/issue-1299-fix-github-ci-failures.md
  requirements-test.txt
Due: none

docs(trace): add task template and execution plan for issue #1293
  context/trace/scratchpad/2025-07-24-issue-1293-ci-optimization-phase-4.md
  context/trace/task-templates/issue-1293-ci-migration-phase-4-optimization.md
Due: none

feat(ci): implement Phase 4 optimization features
  .github/workflows/ci-unified.yml
  config/ci-optimization.yaml
  dashboards/ci-analytics/metrics.py
  docs/ci-optimization-guide.md
  scripts/ci-cache-manager.py
  scripts/ci-hardware-detector.py
  scripts/distributed-ci-coordinator.py
  scripts/incremental-build-analyzer.py
Due: none

docs(trace): update task template with actuals and add completion log for issue #1293
  context/trace/logs/workflow-completions.log
  context/trace/task-templates/issue-1293-ci-migration-phase-4-optimization.md
Due: none

fix(imports): remove unused typing imports in metrics.py
  context/trace/logs/claude-edits.log
  context/trace/logs/claude-pre-commit.log
  dashboards/ci-analytics/metrics.py
  scripts/ci-hardware-detector.py
  scripts/distributed-ci-coordinator.py
  scripts/incremental-build-analyzer.py
Due: none

fix(ci): handle missing gnupg dependency gracefully in sign_ci_results.py
  scripts/sign_ci_results.py
Due: none

fix(ci): rename hyphenated Python files to use underscores for proper imports
  scripts/ci_cache_manager.py
  scripts/ci_hardware_detector.py
  scripts/distributed_ci_coordinator.py
  scripts/incremental_build_analyzer.py
Due: none

feat(ci): CI Migration Phase 4 - Optimization & Advanced Features (#1301)
  .github/workflows/ci-unified.yml
  .gitignore
  config/ci-optimization.yaml
  context/.embeddings_cache/hash_cache.json
  context/.graph_cache/processed.json
  context/sprints/sprint-4.1.yaml
  context/trace/logs/claude-edits.log
  context/trace/logs/claude-pre-commit.log
  context/trace/logs/workflow-completions.log
  context/trace/scratchpad/2025-07-24-issue-1293-ci-optimization-phase-4.md
  context/trace/task-templates/issue-1293-ci-migration-phase-4-optimization.md
  coverage.json
  coverage.xml
  dashboards/ci-analytics/metrics.py
  docs/ci-optimization-guide.md
  requirements-dev.txt
  scripts/__init__.py
  scripts/ci_cache_manager.py
  scripts/ci_hardware_detector.py
  scripts/distributed_ci_coordinator.py
  scripts/incremental_build_analyzer.py
  scripts/sign_ci_results.py
  tests/conftest.py
  tests/test_ci_analytics_metrics.py
  tests/test_ci_cache_manager.py
  tests/test_ci_hardware_detector.py
  tests/test_ci_signing.py
  tests/test_distributed_ci_coordinator.py
  tests/test_generate_coverage_matrix.py
  tests/test_incremental_build_analyzer.py
Due: context-lint, test-imports

docs(trace): add task template and execution plan for issue #1334
  context/trace/scratchpad/2025-07-24-issue-1334-fix-ci-optimization-runtime.md
  context/trace/task-templates/issue-1334-fix-phase-4-ci-optimization-runtime-failures.md
Due: none

fix(sprint): remove duplicate Bidirectional Workflow Validation Test task
  .github/workflows/ci-unified.yml
  context/sprints/sprint-4.1.yaml
  scripts/incremental_build_analyzer.py
  src/agents/arc_reviewer.py
Due: context-lint

docs(trace): update task template with actuals and add completion log for issue #1334
  context/trace/logs/workflow-completions.log
  context/trace/task-templates/issue-1334-fix-phase-4-ci-optimization-runtime-failures.md
Due: none

fix(ci): fix Phase 4 CI optimization runtime failures (#1345)
  .github/workflows/ci-unified.yml
  context/sprints/sprint-4.1.yaml
  context/trace/logs/workflow-completions.log
  context/trace/scratchpad/2025-07-24-issue-1334-fix-ci-optimization-runtime.md
  context/trace/task-templates/issue-1334-fix-phase-4-ci-optimization-runtime-failures.md
  scripts/incremental_build_analyzer.py
  src/agents/arc_reviewer.py
Due: context-lint

docs(trace): add task template and execution plan for issue #1303
  context/trace/scratchpad/2025-07-24-issue-1303-fix-local-ci-pipeline.md
  context/trace/task-templates/issue-1303-fix-local-ci-pipeline.md
Due: none

fix(ci): ensure ARC Reviewer exits with non-zero code on REQUEST_CHANGES
  context/trace/logs/claude-edits.log
  context/trace/logs/claude-pre-commit.log
  src/agents/arc_reviewer.py
  tests/test_ci_integration.py
Due: test-imports

docs: update CLAUDE.md with issue #1303 resolution details
  CLAUDE.md
Due: none

test: fix ARC reviewer tests after exit code changes
  context/trace/logs/claude-pre-commit.log
  tests/test_arc_reviewer.py
Due: test-imports

docs(trace): update task template with actuals and add completion log for issue #1303
  context/trace/logs/workflow-completions.log
  context/trace/task-templates/issue-1303-fix-local-ci-pipeline.md
Due: none

fix(ci): ensure local CI catches all blocking issues (#1376)
  CLAUDE.md
  context/trace/logs/claude-edits.log
  context/trace/logs/claude-pre-commit.log
  context/trace/logs/workflow-completions.log
  context/trace/scratchpad/2025-07-24-issue-1303-fix-local-ci-pipeline.md
  context/trace/task-templates/issue-1303-fix-local-ci-pipeline.md
  src/agents/arc_reviewer.py
  tests/test_arc_reviewer.py
  tests/test_ci_integration.py
Due: test-imports

docs(trace): add task template and execution plan for issue #1377
  context/trace/scratchpad/2025-07-24-issue-1377-load-monitoring.md
  context/trace/task-templates/issue-1377-test-load-monitoring.md
Due: none

feat(ci): implement test load monitoring and throttling
  CLAUDE.md
  docker-compose.ci.yml
  scripts/claude-ci.sh
  scripts/claude-test-changed.sh
  scripts/load-monitor.sh
  scripts/safe-test-runner.sh
  tests/test_load_monitoring.py
Due: test-imports

fix(ci): clean up test imports and script issues
  scripts/claude-test-changed.sh
  scripts/safe-test-runner.sh
  tests/test_load_monitoring.py
Due: test-imports

docs(trace): update task template with actuals and add completion log for issue #1377
  context/trace/logs/workflow-completions.log
  context/trace/task-templates/issue-1377-test-load-monitoring.md
Due: none

fix(ci): implement test load monitoring and throttling (#1402)
  CLAUDE.md
  context/trace/logs/workflow-completions.log
  context/trace/scratchpad/2025-07-24-issue-1377-load-monitoring.md
  context/trace/task-templates/issue-1377-test-load-monitoring.md
  docker-compose.ci.yml
  scripts/claude-ci.sh
  scripts/claude-test-changed.sh
  scripts/load-monitor.sh
  scripts/safe-test-runner.sh
  tests/test_load_monitoring.py
Due: test-imports

docs(trace): add task template and execution plan for issue #1403
  context/trace/scratchpad/2025-07-25-issue-1403-local-ci-validation.md
  context/trace/task-templates/issue-1403-local-ci-validation-before-pr.md
Due: none

docs(trace): update task template with actuals and add completion log for issue #1403
  context/trace/logs/workflow-completions.log
  context/trace/scratchpad/2025-07-25-issue-1403-local-ci-validation.md
  context/trace/task-templates/issue-1403-local-ci-validation-before-pr.md
  validation-report-1403.yaml
Due: none

chore(logs): update trace logs from CI validation execution
  context/trace/logs/claude-edits.log
  context/trace/logs/claude-pre-commit.log
Due: none

feat(ci): implement comprehensive local CI validation workflow and documentation (#1427)
  context/trace/logs/claude-edits.log
  context/trace/logs/claude-pre-commit.log
  context/trace/logs/workflow-completions.log
  context/trace/scratchpad/2025-07-25-issue-1403-local-ci-validation.md
  context/trace/task-templates/issue-1403-local-ci-validation-before-pr.md
  validation-report-1403.yaml
Due: none

docs(trace): add task template and execution plan for issue #1426
  context/trace/scratchpad/2025-07-25-issue-1426-fix-critical-ci-validation-blocking-issues.md
  context/trace/task-templates/issue-1426-fix-critical-ci-validation-blocking-issues.md
Due: none

fix(yaml): add document start marker to sprint-4.1.yaml
  context/schemas/base.yaml
  context/schemas/decision.yaml
  context/schemas/design_full.yaml
  context/schemas/log_full.yaml
  context/schemas/sprint.yaml
  context/schemas/sprint_full.yaml
  context/schemas/trace_full.yaml
  context/sprints/sprint-4.1.yaml
Due: context-lint

fix(deps): install pytest-benchmark to fix test suite
  context/sprints/sprint-4.1.yaml
Due: context-lint

docs(trace): update task template with actuals and add completion log for issue #1426
  context/trace/logs/workflow-completions.log
  context/trace/scratchpad/2025-07-25-issue-1426-fix-critical-ci-validation-blocking-issues.md
  context/trace/task-templates/issue-1426-fix-critical-ci-validation-blocking-issues.md
Due: none

chore(logs): add pre-commit validation log
  context/trace/logs/claude-pre-commit.log
Due: none

fix(ci): fix critical bug where ARC reviewer blocking issues were ignored
  scripts/claude-ci.sh
Due: none

test: add intentionally bad code to test ARC reviewer
  test_bad_code.py
Due: none

chore: remove test file
  test_bad_code.py
Due: none

fix(ci): increase ARC reviewer timeout to 5 minutes
  context/sprints/sprint-4.1.yaml
  context/trace/logs/claude-edits.log
  context/trace/logs/claude-pre-commit.log
  context/trace/scratchpad/2025-07-25-arc-reviewer-performance-issue.md
  context/trace/scratchpad/2025-07-25-issue-1426-fix-critical-ci-validation-blocking-issues.md
  scripts/claude-ci.sh
Due: context-lint

fix(ci): exclude problematic YAML files from pre-commit validation
  .pre-commit-config.yaml
Due: none

Path conditions:
  context-lint: any of: ^context/.*\.yaml$
  test-imports: any of: ^tests/.*\.py$
