Repository credentum/agent-context-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: context-lint, test-imports

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/psf/black
    rev: 23.12.1
    hooks:
      - id: black
        language_version: python3.11
        # Run on all Python files, not just staged ones, to match CI
        pass_filenames: false
        args: [.]

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [types-PyYAML, types-redis, types-requests]
        args: [--config-file=mypy.ini, .]
        exclude: ^(tests/|.venv_ci_test/)
        # Run on all files to match CI
        pass_filenames: false

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: ^context/schemas/
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-json
      - id: debug-statements
      - id: mixed-line-ending

  - repo: https://github.com/pycqa/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: ["--profile", "black"]

  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args: [--max-line-length=100, --extend-ignore=E203]
        exclude: ^(tests/|.venv_ci_test/)
        # Run on all Python files to catch all issues
        pass_filenames: false
        # Use same args as CI would
        entry: flake8 .

  - repo: local
    hooks:
      - id: context-lint
        name: Context YAML Lint
        entry: python -m src.agents.context_lint validate context/
        language: system
        files: ^context/.*\.yaml$
        pass_filenames: false

      - id: test-imports
        name: Check Test Module Imports
        entry: python -m pytest --collect-only -q
        language: system
        files: ^tests/.*\.py$
        pass_filenames: false

      - id: generate-coverage-matrix
        name: Generate Coverage Matrix
        entry: python scripts/generate_coverage_matrix.py
        language: system
        pass_filenames: false
        always_run: true
        stages: [manual]

chore: force trigger CI to resolve stuck claude-pr-review check
  context/trace/logs/claude-pre-commit.log
  context/trace/logs/workflow-completions.log
Due: none

fix: add timeout and fallback to claude-code-review workflow
  .github/workflows/claude-code-review.yml
Due: none

fix(ci): install pre-commit in all GitHub Actions workflows
  .github/workflows/ci-unified.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/pr-review-unified.yml
Due: none

fix(ci): install pre-commit in all GitHub Actions workflows
  .github/workflows/ai-pr-monitor.yml
Due: none

fix(workflows): re-enable required status check workflows
  .github/workflows/lint-verification.yml
  .github/workflows/test-coverage.yml
  .github/workflows/test.yml
Due: none

fix(workflows): re-enable required status check workflows
  tests/test_workflow_feature_parity.py
Due: test-imports

fix(tests): update workflow feature parity test for consolidation
  tests/test_workflow_feature_parity.py
Due: test-imports

fix(coverage): make get_coverage_threshold.py more robust
  scripts/get_coverage_threshold.py
Due: none

debug: add file listing to diagnose missing .coverage-config.json in CI
  .github/workflows/test-coverage.yml
Due: none

fix(ci): prevent deletion of .coverage-config.json in coverage workflow
  .github/workflows/test-coverage.yml
Due: none

fix(ci): disable Coverage Analysis on pull requests
  .github/workflows/test-coverage.yml
Due: none

docs(trace): add task template and execution plan for issue #1257
  context/trace/scratchpad/2025-07-23-issue-1257-migrate-ci-pipeline.md
  context/trace/task-templates/issue-1257-migrate-ci-pipeline-local-execution.md
Due: none

feat(ci): add local CI result verification workflow - Phase 1 PoC
  .github/workflows/ci-local-verifier.yml
  docs/ci-migration-guide.md
  scripts/claude-ci.sh
  scripts/post-ci-results.py
  scripts/verify-ci-results.py
Due: none

docs(trace): update task template with actuals and add completion log for issue #1257
  context/sprints/sprint-4.1.yaml
  context/trace/logs/claude-edits.log
  context/trace/logs/claude-pre-commit.log
  context/trace/logs/workflow-completions.log
  context/trace/task-templates/issue-1257-migrate-ci-pipeline-local-execution.md
  test-local-ci-poc.sh
Due: context-lint

chore: update claude-edits.log
  context/trace/logs/claude-edits.log
Due: none

chore: update trace logs
  context/trace/logs/claude-pre-commit.log
Due: none

feat(ci): [SPRINT-4.2] Migrate CI Pipeline to Local Execution - Phase 1 PoC (#1290)
  .github/workflows/ci-local-verifier.yml
  context/sprints/sprint-4.1.yaml
  context/trace/logs/claude-edits.log
  context/trace/logs/claude-pre-commit.log
  context/trace/logs/workflow-completions.log
  context/trace/scratchpad/2025-07-23-issue-1257-migrate-ci-pipeline.md
  context/trace/task-templates/issue-1257-migrate-ci-pipeline-local-execution.md
  docs/ci-migration-guide.md
  scripts/claude-ci.sh
  scripts/post-ci-results.py
  scripts/verify-ci-results.py
  test-local-ci-poc.sh
Due: context-lint

docs(trace): add task template and execution plan for issue #1291
  context/trace/scratchpad/2025-07-24-issue-1291-ci-security.md
  context/trace/task-templates/issue-1291-ci-migration-phase-2-security.md
Due: none

docs(trace): update task template with actuals and add completion log for issue #1291
  .github/workflows/ci-local-verifier.yml
  context/trace/logs/claude-edits.log
  context/trace/logs/workflow-completions.log
  context/trace/task-templates/issue-1291-ci-migration-phase-2-security.md
  docs/ci-security-guide.md
  scripts/generate-ci-keypair.py
  scripts/post-ci-results.py
  scripts/sign-ci-results.py
  scripts/verify-ci-results.py
  tests/test_ci_signing.py
Due: test-imports

feat(ci): [SPRINT-4.2] CI Migration Phase 2: Security & Reliability (#1294)
  .github/workflows/ci-local-verifier.yml
  context/trace/logs/claude-edits.log
  context/trace/logs/workflow-completions.log
  context/trace/scratchpad/2025-07-24-issue-1291-ci-security.md
  context/trace/task-templates/issue-1291-ci-migration-phase-2-security.md
  docs/ci-security-guide.md
  scripts/generate-ci-keypair.py
  scripts/post-ci-results.py
  scripts/sign-ci-results.py
  scripts/verify-ci-results.py
  tests/test_ci_signing.py
Due: test-imports

docs(trace): add task template and execution plan for issue #1292
  context/trace/task-templates/issue-1292-ci-migration-phase-3-full.md
Due: none

docs(trace): add execution scratchpad for issue #1292 CI migration phase 3
  context/trace/scratchpad/2025-07-24-issue-1292-ci-migration-phase-3.md
Due: none

feat(ci): add git hook infrastructure and workflow migration tools for phase 3
  context/trace/logs/workflow-completions.log
  scripts/install-git-hooks.sh
  scripts/migrate-workflow.py
  scripts/monitor-ci-migration.sh
  scripts/quick-pre-push.sh
Due: none

docs(ci): add comprehensive documentation for CI migration phase 3
  CLAUDE.md
  docs/ci-migration-complete-guide.md
  docs/ci-migration-troubleshooting.md
Due: none

docs(trace): update task template with actuals and add completion log for issue #1292
  context/trace/logs/workflow-completions.log
  context/trace/task-templates/issue-1292-ci-migration-phase-3-full.md
Due: none

fix(ci): update documentation to reflect renamed script
  CLAUDE.md
  context/trace/logs/claude-pre-commit.log
  docs/ci-migration-complete-guide.md
  scripts/__init__.py
  scripts/migrate_workflow.py
  tests/test_migrate_workflow.py
Due: test-imports

fix(ci): move migrate_workflow.py to src/tools for coverage inclusion
  .github/actions/verify-ci-results/action.yml
  CLAUDE.md
  docs/ci-migration-complete-guide.md
  src/tools/__init__.py
  src/tools/migrate_workflow.py
  tests/test_migrate_workflow.py
Due: test-imports

fix(ci): fix mypy error and action.yml formatting
  .github/actions/verify-ci-results/action.yml
  src/tools/migrate_workflow.py
Due: none

fix(ci): resolve ARC-Reviewer blocking issues
  .github/actions/verify-ci-results/action.yml
  scripts/__init__.py
  src/__init__.py
  src/agents/__init__.py
  src/analytics/__init__.py
  src/core/__init__.py
  src/integrations/__init__.py
  src/storage/__init__.py
  src/tools/__init__.py
  src/validators/__init__.py
Due: none

fix(ci): add CI results and fix test imports for Local CI Verification
  ci-results.json
  ci-results.json.gpg
  context/trace/logs/claude-pre-commit.log
  tests/test_ci_signing.py
Due: test-imports

feat(ci): [SPRINT-4.3] CI Migration Phase 3 - Git Hooks & Infrastructure (#1296)
  .github/actions/verify-ci-results/action.yml
  CLAUDE.md
  ci-results.json
  ci-results.json.gpg
  context/trace/logs/claude-pre-commit.log
  context/trace/logs/workflow-completions.log
  context/trace/scratchpad/2025-07-24-issue-1292-ci-migration-phase-3.md
  context/trace/task-templates/issue-1292-ci-migration-phase-3-full.md
  docs/ci-migration-complete-guide.md
  docs/ci-migration-troubleshooting.md
  scripts/__init__.py
  scripts/install-git-hooks.sh
  scripts/monitor-ci-migration.sh
  scripts/quick-pre-push.sh
  src/__init__.py
  src/agents/__init__.py
  src/analytics/__init__.py
  src/core/__init__.py
  src/integrations/__init__.py
  src/storage/__init__.py
  src/tools/__init__.py
  src/tools/migrate_workflow.py
  src/validators/__init__.py
  tests/test_ci_signing.py
  tests/test_migrate_workflow.py
Due: test-imports

docs(trace): add task template and execution plan for issue #1297
  context/trace/scratchpad/2025-07-24-issue-1297-arc-integration.md
  context/trace/task-templates/issue-1297-integrate-arc-reviewer.md
Due: none

feat(ci): integrate ARC-Reviewer into local CI workflow
  scripts/claude-ci.sh
Due: none

docs(trace): update task template with actuals and add completion log for issue #1297
  context/trace/logs/workflow-completions.log
  context/trace/task-templates/issue-1297-integrate-arc-reviewer.md
Due: none

chore: update pre-commit log
  context/trace/logs/claude-pre-commit.log
Due: none

fix(ci): integrate ARC-Reviewer into local CI workflow (#1298)
  context/trace/logs/claude-pre-commit.log
  context/trace/logs/workflow-completions.log
  context/trace/scratchpad/2025-07-24-issue-1297-arc-integration.md
  context/trace/task-templates/issue-1297-integrate-arc-reviewer.md
  scripts/claude-ci.sh
Due: none

docs(trace): update task template with actuals and add completion log for issue #1299
  context/trace/logs/workflow-completions.log
  context/trace/scratchpad/2025-07-24-issue-1299-github-ci-failures.md
  context/trace/task-templates/issue-1299-fix-github-ci-failures.md
Due: none

fix(ci): integrate ARC-Reviewer into local CI workflow (#1298)
  .github/workflows/claude-code-review.yml
  .github/workflows/test.yml
  context/trace/scratchpad/2025-07-24-issue-1299-github-ci-failures.md
  context/trace/task-templates/issue-1299-fix-github-ci-failures.md
  requirements-test.txt
Due: none

docs(trace): add PR status log entry
  context/trace/logs/pr-status.log
Due: none
