Repository credentum/agent-context-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: context-lint, test-imports

context-lint:
  name: Context YAML Lint
  entry: python -m src.agents.context_lint validate context/
  language: system
  pass_filenames: false

test-imports:
  name: Check Test Module Imports
  entry: python -m pytest --collect-only -q
  language: system
  pass_filenames: false

fix(workflows): revert unnecessary test-coverage.yml changes
  .github/workflows/test-coverage.yml
Due: none

security: pin Docker images to SHA256 digests and document health checks
  README.md
  infra/docker-compose.yml
Due: none

fix(infra): resolve Docker Compose health check failures for Qdrant and Neo4j (#50)
  .github/workflows/claude-code-review.yml
  .github/workflows/generate-sprint-issues.yml
  README.md
  context/sprints/sprint-4.1.yaml
  context/trace/scratchpad/2025-07-14-issue-28-docker-compose-stack.md
  infra/docker-compose.yml
Due: context-lint

chore: update sprint status via automation
  sprint_report.md
Due: none

fix(tests): resolve mypy type checking errors and formatting issues
  tests/test_agent_state_machines.py
  tests/test_config_validator.py
  tests/test_e2e_project_lifecycle.py
  tests/test_edge_cases.py
  tests/test_generate_coverage_matrix.py
  tests/test_graph_db.py
  tests/test_integration_agent_flow.py
  tests/test_integration_ci_workflow.py
  tests/test_metadata_validation.py
  tests/test_property_based_extended.py
  tests/test_sigstore_verification.py
  tests/test_sprint_issue_linker_coverage.py
  tests/test_traceability_matrix.py
Due: test-imports

fix(tests): correct test data types for config validator port validation
  .github/workflows/test-suite.yml
  .github/workflows/test.yml
  tests/test_config_validator.py
  tests/test_edge_cases.py
  tests/test_generate_coverage_matrix.py
Due: test-imports

fix(tests): resolve filesystem dependency in test_process_directory
  tests/test_graph_builder_coverage.py
Due: test-imports

fix(tests): resolve filesystem dependency in test_process_directory
  context/schemas/design.yaml
  context/schemas/sprint.yaml
Due: context-lint

fix(tests): resolve working directory issue in test_cleanup_orphaned_nodes
  tests/test_graph_builder_coverage.py
Due: test-imports

fix(tests): resolve all CI test failures for local-GitHub parity
  tests/conftest.py
  tests/test_chaos_engineering.py
  tests/test_edge_cases.py
  tests/test_property_based_extended.py
Due: test-imports

fix(tests): adjust performance test timing for CI environments
  tests/test_performance_benchmarks.py
Due: test-imports

fix(ci): resolve test failures and coverage regression
  .github/workflows/test.yml
  tests/test_property_based_extended.py
Due: test-imports

fix(ci): resolve mutmut html error and ARC-Reviewer coverage
  .github/workflows/claude-code-review.yml
  .github/workflows/kv-analytics-sync.yml
  .github/workflows/lint-verification.yml
  .github/workflows/test-coverage.yml
  .github/workflows/test-suite.yml
  .github/workflows/test.yml
  .github/workflows/vector-graph-sync.yml
  .hypothesis/unicode_data/15.0.0/codec-utf-8.json.gz
  context/.embeddings_cache/hash_cache.json
  context/.graph_cache/processed.json
  coverage.xml
  mypy-errors-after-fixes.txt
  mypy-errors-current.txt
  scripts/run_mutation_testing.sh
  scripts/test-github-ci-locally.sh
  tests/test_performance_benchmarks.py
Due: test-imports

fix(arc-reviewer): install full dependencies to resolve import errors
  .github/workflows/claude-code-review.yml
Due: none

fix(ci): update ARC-Reviewer coverage baseline to 78.5%
  .github/workflows/claude-code-review.yml
Due: none

fix(ci): complete coverage baseline update to 78.5%
  .github/workflows/claude-code-review.yml
  CLAUDE.md
  scripts/test-github-ci-locally.sh
Due: none

feat(ci): centralize coverage baseline configuration
  .coverage-config.json
  .github/workflows/claude-code-review.yml
  .hypothesis/unicode_data/15.0.0/codec-utf-8.json.gz
  CLAUDE.md
  coverage-summary.json
  mypy-errors-after-fixes.txt
  mypy-errors-current.txt
  scripts/test-github-ci-locally.sh
  scripts/update-coverage-baseline.py
Due: none

docs(coverage): add comprehensive coverage configuration documentation
  CLAUDE.md
  docs/coverage-configuration.md
Due: none

docs(coverage): streamline test coverage guide
  docs/test-coverage-guide.md
Due: none

fix(tests): resolve mypy type checking errors and formatting issues (#52)
  .coverage-config.json
  .github/workflows/claude-code-review.yml
  .github/workflows/kv-analytics-sync.yml
  .github/workflows/lint-verification.yml
  .github/workflows/test-coverage.yml
  .github/workflows/test-suite.yml
  .github/workflows/test.yml
  .github/workflows/vector-graph-sync.yml
  .hypothesis/unicode_data/15.0.0/codec-utf-8.json.gz
  CLAUDE.md
  context/.embeddings_cache/hash_cache.json
  context/.graph_cache/processed.json
  context/schemas/design.yaml
  context/schemas/sprint.yaml
  coverage-summary.json
  coverage.xml
  docs/coverage-configuration.md
  docs/test-coverage-guide.md
  mypy-errors-after-fixes.txt
  mypy-errors-current.txt
  scripts/run_mutation_testing.sh
  scripts/test-github-ci-locally.sh
  scripts/update-coverage-baseline.py
  tests/conftest.py
  tests/test_agent_state_machines.py
  tests/test_chaos_engineering.py
  tests/test_config_validator.py
  tests/test_e2e_project_lifecycle.py
  tests/test_edge_cases.py
  tests/test_generate_coverage_matrix.py
  tests/test_graph_builder_coverage.py
  tests/test_graph_db.py
  tests/test_integration_agent_flow.py
  tests/test_integration_ci_workflow.py
  tests/test_metadata_validation.py
  tests/test_performance_benchmarks.py
  tests/test_property_based_extended.py
  tests/test_sigstore_verification.py
  tests/test_sprint_issue_linker_coverage.py
  tests/test_traceability_matrix.py
Due: context-lint, test-imports

chore: update sprint status via automation
  context/sprints/sprint-4.1.yaml
Due: context-lint

feat(infra): add healthcheck.sh script for Qdrant and Neo4j
  .github/workflows/vector-graph-sync.yml
  =5.0.0
  CONTRIBUTING.md
  context/.embeddings_cache/hash_cache.json
  context/.graph_cache/processed.json
  context/sprints/sprint-4.1.yaml
  context/trace/scratchpad/2025-07-15-issue-29-healthcheck-script.md
  infra/healthcheck.sh
  requirements-dev.txt
  tests/test_healthcheck_integration.py
Due: context-lint, test-imports

fix(infra): add Neo4j authentication support to healthcheck script
  .github/workflows/vector-graph-sync.yml
  infra/healthcheck.sh
Due: none

docs: update scratchpad with CI error resolution process
  context/trace/scratchpad/2025-07-15-issue-29-healthcheck-script.md
Due: none

trigger: test Vector and Graph Database Sync workflow
  context/sprints/sprint-4.1.yaml
Due: context-lint

trigger: test Vector and Graph Database Sync workflow
  context/trace/scratchpad/2025-07-15-issue-29-healthcheck-script.md
Due: none

cleanup: remove test comment from sprint YAML
  context/sprints/sprint-4.1.yaml
Due: context-lint

cleanup: remove test comment from sprint YAML
  infra/healthcheck.sh
  src/storage/vector_db_init.py
Due: none

feat(infra): add healthcheck.sh script for Qdrant and Neo4j (#54)
  .github/workflows/vector-graph-sync.yml
  =5.0.0
  CONTRIBUTING.md
  context/.embeddings_cache/hash_cache.json
  context/.graph_cache/processed.json
  context/trace/scratchpad/2025-07-15-issue-29-healthcheck-script.md
  infra/healthcheck.sh
  requirements-dev.txt
  src/storage/vector_db_init.py
  tests/test_healthcheck_integration.py
Due: test-imports

feat(infra): add healthcheck.sh script for Qdrant and Neo4j (#54)
  .github/workflows/vector-graph-sync.yml
  =5.0.0
  CONTRIBUTING.md
  context/.embeddings_cache/hash_cache.json
  context/.graph_cache/processed.json
  context/mcp_contracts/context_v0.json
  context/trace/scratchpad/2025-07-15-issue-29-healthcheck-script.md
  context/trace/scratchpad/2025-07-15-issue-34-mcp-skeleton-contract.md
  infra/healthcheck.sh
  requirements-dev.txt
  src/storage/vector_db_init.py
  tests/test_healthcheck_integration.py
Due: test-imports

feat(coverage): implement 80% line coverage threshold with branch coverage enforcement
  .coverage-config.json
  .github/workflows/test-coverage.yml
  .hypothesis/unicode_data/15.0.0/codec-utf-8.json.gz
  CLAUDE.md
  context/trace/scratchpad/2025-07-15-issue-39-test-coverage-uplift.md
  coverage.svg
  scripts/coverage_summary.py
Due: none

fix(mcp): correct examples array structure in context_v0.json
  .coverage.codespaces-8d7193.761960.XLWfbvRx
  .coverage.codespaces-8d7193.761996.XFxTKPcx
  .coverage.codespaces-8d7193.762658.XHZpnwcx
  .coverage.codespaces-8d7193.762911.XYntmscx
  .coverage.codespaces-8d7193.762995.XgbLfNCx
  .coverage.codespaces-8d7193.762999.XtfjZihx
  .coverage.codespaces-8d7193.763001.XRWDKAVx
  .github/workflows/context-lint.yml
  .hypothesis/unicode_data/15.0.0/codec-utf-8.json.gz
  context/mcp_contracts/context_v0.json
  package-lock.json
  package.json
  scripts/validate-mcp-schemas.js
Due: none

fix(coverage): implement transitional threshold approach and address CI feedback
  .coverage-config.json
  .coverage.codespaces-8d7193.761960.XLWfbvRx
  .coverage.codespaces-8d7193.761996.XFxTKPcx
  .coverage.codespaces-8d7193.762658.XHZpnwcx
  .coverage.codespaces-8d7193.762911.XYntmscx
  .coverage.codespaces-8d7193.762995.XgbLfNCx
  .coverage.codespaces-8d7193.762999.XtfjZihx
  .coverage.codespaces-8d7193.763001.XRWDKAVx
  .github/workflows/test-coverage.yml
  .gitignore
  CLAUDE.md
  context/trace/scratchpad/2025-07-15-issue-34-mcp-skeleton-contract.md
  coverage.svg
  scripts/coverage_summary.py
  tests/test_mcp_contract_validation.py
Due: test-imports

fix(coverage): implement transitional threshold approach to address CI failure
  .coverage-config.json
  .github/workflows/test-coverage.yml
  CLAUDE.md
  coverage.svg
Due: none

fix(deps): add jsonschema dependency for MCP contract validation tests
  requirements-test.txt
Due: none

docs(mcp): add README for MCP contracts directory
  context/mcp_contracts/README.md
Due: none

docs(mcp): add README for MCP contracts directory
  README.md
  context/decisions/001-technology-stack.yaml
  context/design/001-system-architecture.yaml
  context/mcp_contracts/README.md
Due: context-lint

cleanup: reorganize repository structure and remove clutter
  .gitignore
  0
  =5.0.0
  README.md
  context/decisions/001-technology-stack.yaml
  context/design/001-system-architecture.yaml
  coverage-summary.json
  coverage.svg
  coverage.xml
  lint-results.log
  mypy-errors-after-fixes.txt
  mypy-errors-current.txt
  mypy-errors.txt
  reports/sprint_report.md
  scripts/demo_sprint_automation.sh
  scripts/run_all_tests.py
  scripts/run_coverage.sh
  scripts/run_tests.sh
  tests/README.md
  tests/run_parallel_tests.py
Due: context-lint, test-imports

feat(ci): improve PR coverage summary format
  .github/workflows/test-coverage.yml
  Dockerfile.ci
  docker-compose.ci.yml
  scripts/generate_pr_coverage_summary.py
  scripts/run-ci-docker.sh
  scripts/test-workflow-compatibility.sh
  scripts/test-workflow-simple.sh
  src/storage/graph_builder.py
  src/storage/neo4j_init.py
Due: none

cleanup: reorganize repository structure and remove clutter (#58)
  .github/workflows/test-coverage.yml
  .gitignore
  0
  =5.0.0
  Dockerfile.ci
  README.md
  context/decisions/001-technology-stack.yaml
  context/design/001-system-architecture.yaml
  coverage-summary.json
  coverage.svg
  coverage.xml
  docker-compose.ci.yml
  lint-results.log
  mypy-errors-after-fixes.txt
  mypy-errors-current.txt
  mypy-errors.txt
  reports/sprint_report.md
  scripts/demo_sprint_automation.sh
  scripts/generate_pr_coverage_summary.py
  scripts/run-ci-docker.sh
  scripts/run_all_tests.py
  scripts/run_coverage.sh
  scripts/run_tests.sh
  scripts/test-workflow-compatibility.sh
  scripts/test-workflow-simple.sh
  src/storage/graph_builder.py
  src/storage/neo4j_init.py
  tests/README.md
  tests/run_parallel_tests.py
Due: context-lint, test-imports

Path conditions:
  context-lint: any of: ^context/.*\.yaml$
  test-imports: any of: ^tests/.*\.py$
