Repository credentum/agent-context-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: context-lint, test-imports

.pre-commit-config.yaml:

---
# Updated pre-commit configuration that matches CI but is practical
repos:
  - repo: https://github.com/psf/black
    rev: 25.1.0
    hooks:
      - id: black
        language_version: python3.11
        exclude: tests/test_formatting_issues\.py

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.8.0
    hooks:
      - id: mypy
        additional_dependencies: [types-PyYAML, types-redis, types-requests]
        args: [--config-file=mypy.ini, --ignore-missing-imports]
        files: ^src/
        # Only check src/ files for now, tests need more work

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.5.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
        exclude: |
          (?x)^(
            context/schemas/.*\.yaml|
            \.github/workflows/arc-follow-up-processor\.yml
          )$
      - id: check-added-large-files
      - id: check-merge-conflict
      - id: check-json
      - id: debug-statements
      - id: mixed-line-ending

  - repo: https://github.com/pycqa/isort
    rev: 6.0.1
    hooks:
      - id: isort
        args: ["--profile", "black"]

  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8
        args: ['--max-line-length=100', '--extend-ignore=E203,W503']
        # Run on all Python files like CI does

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        name: yamllint (general)
        args: [--format, parsable, --strict]
        files: \.(yaml|yml)$
        exclude: ^(\.github/workflows/|workflows/|\.pre-commit-config.*\.yaml|context/sprints/sprint-4\.1\.yaml)
      - id: yamllint
        name: yamllint (workflows)
        args: [--format, parsable, -c, .yamllint-workflows.yml]
        files: ^\.github/workflows/.*\.ya?ml$
        exclude: ^\.github/workflows/arc-follow-up-processor\.yml$

  - repo: local
    hooks:
      - id: context-lint
        name: Context YAML Lint
        entry: python -m src.agents.context_lint validate context/
        language: system
        files: ^context/.*\.yaml$
        pass_filenames: false

      - id: test-imports
        name: Check Test Module Imports
        entry: python -m pytest --collect-only -q
        language: system
        files: ^tests/.*\.py$
        pass_filenames: false

      - id: generate-coverage-matrix
        name: Generate Coverage Matrix
        entry: python scripts/generate_coverage_matrix.py
        language: system
        pass_filenames: false
        stages: [manual]

      - id: check-pr-keywords
        name: Check PR Keywords
        entry: ./scripts/check-pr-keywords.sh
        language: script
        always_run: true
        pass_filenames: false
        stages: [commit-msg]

fix(ci): temporarily exclude sprint-4.1.yaml from context-lint
  .pre-commit-config.yaml
Due: none

fix(ci): resolve pre-commit context-lint failures
  .pre-commit-config.yaml
  context/sprints/sprint-4.1.yaml
  context/trace/logs/claude-pre-commit.log
  scripts/context-lint-wrapper.sh
Due: context-lint

fix(ci): fix critical CI validation blocking issues (#1448)
  .pre-commit-config.yaml
  context/schemas/base.yaml
  context/schemas/decision.yaml
  context/schemas/design_full.yaml
  context/schemas/log_full.yaml
  context/schemas/sprint.yaml
  context/schemas/sprint_full.yaml
  context/schemas/trace_full.yaml
  context/sprints/sprint-4.1.yaml
  context/trace/logs/claude-edits.log
  context/trace/logs/claude-pre-commit.log
  context/trace/logs/workflow-completions.log
  context/trace/scratchpad/2025-07-25-arc-reviewer-performance-issue.md
  context/trace/scratchpad/2025-07-25-issue-1426-fix-critical-ci-validation-blocking-issues.md
  context/trace/task-templates/issue-1426-fix-critical-ci-validation-blocking-issues.md
  scripts/claude-ci.sh
  scripts/context-lint-wrapper.sh
Due: context-lint

fix(ci): EMERGENCY disable sprint-update workflow triggers
  .github/workflows/sprint-update.yml
Due: none

fix(ci): EMERGENCY disable sprint-update workflow triggers (#1635)
  .github/workflows/sprint-update.yml
Due: none

docs(trace): add task template and execution plan for issue #1295
  context/trace/scratchpad/2025-07-25-issue-1295-github-label-cleanup.md
  context/trace/task-templates/issue-1295-github-label-cleanup.md
Due: none

fix(labels): add label validation and fix missing labels
  .github/ISSUE_TEMPLATE/sprint-task.md
  .github/workflows/claude-code-review.yml
  scripts/validate-labels.py
Due: none

feat(labels): add migration script and documentation
  docs/github-label-guidelines.md
  scripts/migrate-labels.sh
Due: none

docs(trace): update task template with actuals and add completion log for issue #1295
  context/trace/logs/workflow-completions.log
  context/trace/task-templates/issue-1295-github-label-cleanup.md
Due: none

fix(yaml): fix missing component value in sprint-4.1.yaml
  context/sprints/sprint-4.1.yaml
  context/trace/logs/claude-pre-commit.log
Due: context-lint

fix(labels): standardize GitHub label system (#1636)
  .github/ISSUE_TEMPLATE/sprint-task.md
  .github/workflows/claude-code-review.yml
  context/sprints/sprint-4.1.yaml
  context/trace/logs/claude-pre-commit.log
  context/trace/logs/workflow-completions.log
  context/trace/scratchpad/2025-07-25-issue-1295-github-label-cleanup.md
  context/trace/task-templates/issue-1295-github-label-cleanup.md
  docs/github-label-guidelines.md
  scripts/migrate-labels.sh
  scripts/validate-labels.py
Due: context-lint

docs(trace): add task template and execution plan for issue #1489
  context/trace/scratchpad/2025-07-25-issue-1489-fix-all-remaining-ci-validation-issues.md
  context/trace/task-templates/issue-1489-fix-all-remaining-ci-validation-issues.md
Due: none

fix(yaml): fix indentation and line length issues in sprint-4.1.yaml
  context/sprints/sprint-4.1.yaml
Due: context-lint

fix(tests): add type annotations and fix MyPy errors in test files
  tests/test_ci_analytics_metrics.py
  tests/test_ci_signing.py
  tests/test_config_validator.py
Due: test-imports

feat(performance): optimize Docker CI and ARC-Reviewer performance
  Dockerfile.ci
  context/sprints/sprint-4.1.yaml
  scripts/run-ci-docker-optimized.sh
  src/agents/arc_reviewer.py
Due: context-lint

feat(ci): add comprehensive CI command with auto-fix capabilities
  CLAUDE.md
  context/sprints/sprint-4.1.yaml
  scripts/claude-ci.sh
Due: context-lint

docs(trace): update task template with actuals and add completion log for issue #1489
  context/trace/logs/workflow-completions.log
  context/trace/task-templates/issue-1489-fix-all-remaining-ci-validation-issues.md
Due: none

docs(trace): update task template with actuals and add completion log for issue #1489
  context/trace/logs/claude-pre-commit.log
  docs/CI-TESTING.md
  docs/ci-checklist.md
  docs/ci-execution-trace.md
  docs/ci-pipeline-diagram.md
  docs/example-ci-report.md
  scripts/claude-ci.sh
  src/agents/arc_reviewer.py
  tests/test_arc_reviewer.py
  tests/test_generate_coverage_matrix.py
Due: test-imports

docs(trace): update task template with actuals and add completion log for issue #1489
  tests/test_chaos_engineering.py
  tests/test_ci_cache_manager.py
  tests/test_ci_hardware_detector.py
  tests/test_distributed_ci_coordinator.py
  tests/test_incremental_build_analyzer.py
Due: test-imports

fix(ci): critical fixes for ARC reviewer security scanning and YAML validation
  context/sprints/sprint-4.1.yaml
  src/agents/arc_reviewer.py
Due: context-lint

fix/1489 complete ci validation (#1637)
  CLAUDE.md
  Dockerfile.ci
  context/sprints/sprint-4.1.yaml
  context/trace/logs/claude-pre-commit.log
  context/trace/logs/workflow-completions.log
  context/trace/scratchpad/2025-07-25-issue-1489-fix-all-remaining-ci-validation-issues.md
  context/trace/task-templates/issue-1489-fix-all-remaining-ci-validation-issues.md
  docs/CI-TESTING.md
  docs/ci-checklist.md
  docs/ci-execution-trace.md
  docs/ci-pipeline-diagram.md
  docs/example-ci-report.md
  scripts/claude-ci.sh
  scripts/run-ci-docker-optimized.sh
  src/agents/arc_reviewer.py
  tests/test_arc_reviewer.py
  tests/test_chaos_engineering.py
  tests/test_ci_analytics_metrics.py
  tests/test_ci_cache_manager.py
  tests/test_ci_hardware_detector.py
  tests/test_ci_signing.py
  tests/test_config_validator.py
  tests/test_distributed_ci_coordinator.py
  tests/test_generate_coverage_matrix.py
  tests/test_incremental_build_analyzer.py
Due: context-lint, test-imports

feat(docs): restructure CLAUDE.md into modular documentation
  .claude/agents/issue-investigator.md
  .claude/agents/pr-manager.md
  .claude/agents/task-planner.md
  .claude/agents/test-runner.md
  .claude/agents/workflow-coordinator.md
  .claude/commands/workflow-issue.md
  .claude/guides/cli-reference.md
  .claude/guides/coding-standards.md
  .claude/guides/cost-management.md
  .claude/guides/extending-claude.md
  .claude/guides/security.md
  .claude/workflows/git-workflow.md
  .claude/workflows/github-actions.md
  CLAUDE.md
Due: none

feat(docs): restructure CLAUDE.md into modular documentation (#1638)
  .claude/agents/issue-investigator.md
  .claude/agents/pr-manager.md
  .claude/agents/task-planner.md
  .claude/agents/test-runner.md
  .claude/agents/workflow-coordinator.md
  .claude/commands/workflow-issue.md
  .claude/guides/cli-reference.md
  .claude/guides/coding-standards.md
  .claude/guides/cost-management.md
  .claude/guides/extending-claude.md
  .claude/guides/security.md
  .claude/workflows/git-workflow.md
  .claude/workflows/github-actions.md
  CLAUDE.md
Due: none

fix(context): enable YAML validation for schema files with multi-document support
  .claude/workflows/workflow-issue-enhanced.md
  .pre-commit-config.yaml
  .yamllint-schemas.yml
  context/schemas/schema_loader.py
  context/sprints/sprint-4.1.yaml
  context/trace/logs/claude-pre-commit.log
  context/trace/task-templates/issue-1634-refactor-schemas.md
  scripts/check-yamale-schemas.py
Due: context-lint

fix: keep schema files excluded from check-yaml hook
  .pre-commit-config.yaml
Due: none

docs: add workflow enforcement system for sub-agents
  .claude/workflows/enforced-agent-example.md
  .claude/workflows/workflow-enforcement.md
  .claude/workflows/workflow-validator.py
  context/trace/logs/claude-pre-commit.log
Due: none

fix: address ARC reviewer blocking issues
  .claude/workflows/workflow-validator.py
  context/schemas/schema_loader.py
  context/trace/logs/claude-edits.log
  context/trace/logs/claude-pre-commit.log
Due: none

fix: add schema_version to sprint-4.1.yaml
  context/sprints/sprint-4.1.yaml
Due: context-lint

fix: address critical security vulnerabilities identified by ARC reviewer
  .claude/workflows/workflow-validator.py
  context/schemas/schema_loader.py
  scripts/check-yamale-schemas.py
Due: none

fix: resolve GitHub ARC reviewer blocking issues
  .pre-commit-config-ci.yaml
  .pre-commit-config.yaml
  context/mcp_contracts/benchmark-ci-performance.json
  context/mcp_contracts/check-yamale-schemas.json
  context/mcp_contracts/distributed-ci-coordinator.json
  context/mcp_contracts/mcp-tool-contract.schema.json
  context/mcp_contracts/run-ci-optimized.json
  requirements-dev.txt
  scripts/distributed_ci_coordinator.py
  tests/test_distributed_ci_coordinator.py
Due: test-imports

fix(context): enable YAML validation for schema files with multi-document support (#1639)
  .claude/workflows/enforced-agent-example.md
  .claude/workflows/workflow-enforcement.md
  .claude/workflows/workflow-issue-enhanced.md
  .claude/workflows/workflow-validator.py
  .pre-commit-config-ci.yaml
  .pre-commit-config.yaml
  .yamllint-schemas.yml
  context/mcp_contracts/benchmark-ci-performance.json
  context/mcp_contracts/check-yamale-schemas.json
  context/mcp_contracts/distributed-ci-coordinator.json
  context/mcp_contracts/mcp-tool-contract.schema.json
  context/mcp_contracts/run-ci-optimized.json
  context/schemas/schema_loader.py
  context/sprints/sprint-4.1.yaml
  context/trace/logs/claude-edits.log
  context/trace/logs/claude-pre-commit.log
  context/trace/task-templates/issue-1634-refactor-schemas.md
  requirements-dev.txt
  scripts/check-yamale-schemas.py
  scripts/distributed_ci_coordinator.py
  tests/test_distributed_ci_coordinator.py
Due: context-lint, test-imports

docs(trace): add task template and execution plan for issue #1640
  context/trace/scratchpad/2025-07-25-issue-1640-integrate-workflow-enforcement.md
  context/trace/task-templates/issue-1640-integrate-workflow-enforcement.md
Due: none

feat(workflow): integrate enforcement system into workflow-issue command
  .claude/workflows/workflow-issue.md
Due: none

docs(trace): update task template with actuals and add completion log for issue #1640
  context/trace/logs/workflow-completions.log
  context/trace/task-templates/issue-1640-integrate-workflow-enforcement.md
Due: none

feat(workflow): integrate enforcement system into workflow-issue command
  context/trace/logs/claude-pre-commit.log
Due: none

docs(trace): add completion log for issue #1640
  context/trace/logs/workflow-completions.log
Due: none

fix(tests): clean up workflow validator test imports
  .claude/workflows/workflow-issue.md
  tests/test_workflow_validator.py
Due: test-imports

test: comprehensive workflow validator test suite
  tests/test_workflow_validator.py
Due: test-imports

test: improve test coverage to 81% above arc reviewer threshold
  .coveragerc
  tests/test_workflow_validator.py
Due: test-imports

fix: remove .coveragerc to fix arc reviewer coverage measurement
  .coveragerc
  .workflow-state-456.json
  context/sprints/sprint-4.1.yaml
  context/trace/logs/claude-edits.log
  context/trace/logs/claude-pre-commit.log
Due: context-lint
