Repository credentum/agent-context-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: context-lint, test-imports

context-lint:
  name: Context YAML Lint
  entry: python -m src.agents.context_lint validate context/
  language: system
  pass_filenames: false

test-imports:
  name: Check Test Module Imports
  entry: python -m pytest --collect-only -q
  language: system
  pass_filenames: false

docs(trace): update task template with actual results for issue #1047
  context/trace/task-templates/issue-1047-test-sprint-update-workflow-duplicate-prevention.md
Due: none

docs(trace): add completion log and final updates for issue #1047
  context/trace/logs/workflow-completions.log
  context/trace/scratchpad/2025-07-22-issue-1047-test-sprint-update-workflow-duplicate-prevention.md
Due: none

test(ci): validate Sprint Update workflow duplicate prevention (#1203)
  context/trace/logs/workflow-completions.log
  context/trace/scratchpad/2025-07-22-issue-1047-test-sprint-update-workflow-duplicate-prevention.md
  context/trace/task-templates/issue-1047-test-sprint-update-workflow-duplicate-prevention.md
  tests/test_sprint_update_duplicate_prevention.py
Due: test-imports

test(ci): validate Sprint Update workflow duplicate prevention (#1203)
  CLAUDE.md
  context/trace/logs/workflow-completions.log
  context/trace/scratchpad/2025-07-22-issue-1047-test-sprint-update-workflow-duplicate-prevention.md
  context/trace/scratchpad/2025-07-22-issue-1061-claude-ci-command-hub.md
  context/trace/task-templates/issue-1047-test-sprint-update-workflow-duplicate-prevention.md
  context/trace/task-templates/issue-1061-claude-ci-command-hub.md
  scripts/claude-ci.sh
  tests/test_sprint_update_duplicate_prevention.py
Due: test-imports

fix(ci): correct duration calculation and improve claude-ci.sh robustness
  .pre-commit-config.yaml
  scripts/claude-ci.sh
Due: none

docs(trace): update task template with actual results for issue #1061
  context/trace/task-templates/issue-1061-claude-ci-command-hub.md
Due: none

docs(trace): add completion log for issue #1061 workflow
  context/trace/logs/workflow-completions.log
Due: none

docs(trace): add completion log for issue #1061 workflow
  context/trace/scratchpad/2025-07-22-issue-1047-test-sprint-update-workflow-duplicate-prevention.md
  context/trace/task-templates/issue-1047-test-sprint-update-workflow-duplicate-prevention.md
  tests/test_claude_ci.py
  tests/test_sprint_update_duplicate_prevention.py
Due: test-imports

fix(ci): resolve claude-ci.sh JSON output and error handling issues
  context/trace/logs/claude-edits.log
  context/trace/logs/claude-pre-commit.log
  scripts/claude-ci.sh
  tests/test_claude_ci.py
Due: test-imports

refactor(ci): improve claude-ci.sh error handling and validation
  scripts/claude-ci.sh
  tests/test_claude_ci.py
Due: test-imports

fix(test): increase comprehensive test timeout from 30s to 60s
  tests/test_claude_ci.py
Due: test-imports

feat(ci): add unified claude-ci command hub (#1205)
  .pre-commit-config.yaml
  CLAUDE.md
  context/trace/logs/claude-edits.log
  context/trace/logs/claude-pre-commit.log
  context/trace/logs/workflow-completions.log
  context/trace/scratchpad/2025-07-22-issue-1061-claude-ci-command-hub.md
  context/trace/task-templates/issue-1061-claude-ci-command-hub.md
  scripts/claude-ci.sh
  tests/test_claude_ci.py
Due: test-imports

docs(trace): add task template and execution plan for issue #1204
  context/trace/scratchpad/2025-07-22-issue-1204-yaml-linting-mypy-errors.md
  context/trace/task-templates/issue-1204-yaml-linting-mypy-errors.md
Due: none

fix(ci): resolve critical YAML syntax error and remove excessive pre-commit exclusions
  .pre-commit-config.yaml
  context/schemas/decision.yaml
Due: context-lint

docs(trace): update scratchpad with current progress for issue #1204
  context/sprints/sprint-4.1.yaml
  context/trace/scratchpad/2025-07-22-issue-1204-yaml-linting-mypy-errors.md
Due: context-lint

docs(trace): update scratchpad with current YAML/MyPy error counts
  context/trace/scratchpad/2025-07-22-issue-1204-yaml-linting-mypy-errors.md
Due: none

fix(yaml): resolve indentation errors in sprint YAML files
  context/.embeddings_cache/hash_cache.json
  context/.graph_cache/processed.json
  context/decisions/001-technology-stack.yaml
  context/mcp_contracts/benchmark-ci-performance.yaml
  context/sprints/sprint-001.yaml
  context/sprints/sprint-002.yaml
  context/sprints/sprint-4.1.yaml
  context/sprints/sprint-5.yaml
  context/trace/logs/claude-edits.log
  context/trace/logs/claude-pre-commit.log
  context/trace/task-templates/issue-1204-yaml-linting-mypy-errors.md
  tests/test_reproducibility.py
Due: context-lint, test-imports

fix(mypy): add type annotations and fix type errors in test files
  tests/load_tests.py
  tests/test_core_utils_comprehensive.py
  tests/test_kv_validators_comprehensive.py
Due: test-imports

fix(yaml): resolve all indentation and line length errors in sprint YAML files
  context/sprints/sprint-001.yaml
  context/sprints/sprint-4.1.yaml
Due: context-lint

fix(mypy): add type annotations and fix type errors across test files
  src/core/base_component.py
  src/core/utils.py
  src/storage/graph_builder.py
  src/storage/neo4j_init.py
  tests/load_tests.py
  tests/test_base_component.py
  tests/test_benchmarks.py
  tests/test_config_parser.py
  tests/test_config_validator.py
  tests/test_context_analytics.py
  tests/test_e2e.py
  tests/test_edge_cases.py
  tests/test_hash_diff_embedder.py
  tests/test_hash_diff_embedder_async.py
  tests/test_integration.py
  tests/test_kv_store.py
  tests/test_kv_validators_comprehensive.py
  tests/test_reproducibility.py
  tests/test_security.py
  tests/test_traceability_matrix.py
  tests/test_vector_db.py
Due: test-imports

style: apply Black formatting to fix CI compliance
  src/storage/graph_builder.py
  tests/test_context_analytics.py
  tests/test_hash_diff_embedder.py
  tests/test_reproducibility.py
Due: test-imports

docs(trace): update scratchpad with completion status for issue #1204
  context/trace/scratchpad/2025-07-22-issue-1204-yaml-linting-mypy-errors.md
Due: none

docs(trace): add completion log for issue #1204 workflow
  context/trace/logs/workflow-completions.log
Due: none

fix(lint): resolve flake8 E501 line too long error in test_hash_diff_embedder.py
  tests/test_hash_diff_embedder.py
Due: test-imports

fix(security): address ARC reviewer feedback
  .gitignore
  context/.embeddings_cache/hash_cache.json
  context/.graph_cache/processed.json
  src/storage/graph_builder.py
Due: none

test(validators): achieve 100% coverage for validator modules
  context/sprints/sprint-4.1.yaml
  context/trace/logs/claude-edits.log
  pytest.ini
  src/validators/config_validator.py
  tests/test_config_validator.py
Due: context-lint, test-imports

style: apply Black formatting to graph_builder.py
  src/storage/graph_builder.py
Due: none

fix(ci): resolve YAML linting and MyPy type errors blocking CI execution (#1207)
  .gitignore
  .pre-commit-config.yaml
  context/.embeddings_cache/hash_cache.json
  context/.graph_cache/processed.json
  context/decisions/001-technology-stack.yaml
  context/mcp_contracts/benchmark-ci-performance.yaml
  context/schemas/decision.yaml
  context/sprints/sprint-001.yaml
  context/sprints/sprint-002.yaml
  context/sprints/sprint-4.1.yaml
  context/sprints/sprint-5.yaml
  context/trace/logs/claude-edits.log
  context/trace/logs/claude-pre-commit.log
  context/trace/logs/workflow-completions.log
  context/trace/scratchpad/2025-07-22-issue-1204-yaml-linting-mypy-errors.md
  context/trace/task-templates/issue-1204-yaml-linting-mypy-errors.md
  pytest.ini
  src/core/base_component.py
  src/core/utils.py
  src/storage/graph_builder.py
  src/storage/neo4j_init.py
  src/validators/config_validator.py
  tests/load_tests.py
  tests/test_base_component.py
  tests/test_benchmarks.py
  tests/test_config_parser.py
  tests/test_config_validator.py
  tests/test_context_analytics.py
  tests/test_core_utils_comprehensive.py
  tests/test_e2e.py
  tests/test_edge_cases.py
  tests/test_hash_diff_embedder.py
  tests/test_hash_diff_embedder_async.py
  tests/test_integration.py
  tests/test_kv_store.py
  tests/test_kv_validators_comprehensive.py
  tests/test_reproducibility.py
  tests/test_security.py
  tests/test_traceability_matrix.py
  tests/test_vector_db.py
Due: context-lint, test-imports

docs(trace): add task template and execution plan for issue #1062
  context/trace/scratchpad/2025-07-22-issue-1062-update-claude-md.md
  context/trace/task-templates/issue-1062-update-claude-md-ci-workflow.md
Due: none

docs(claude): add CI workflow guidance for Claude Code
  CLAUDE.md
Due: none

docs(trace): update task template with actual results for issue #1062
  context/trace/task-templates/issue-1062-update-claude-md-ci-workflow.md
Due: none

docs(trace): add completion log for issue #1062
  context/trace/logs/workflow-completions.log
Due: none

docs(claude): add CI workflow guidance for Claude Code (#1239)
  CLAUDE.md
  context/trace/logs/workflow-completions.log
  context/trace/scratchpad/2025-07-22-issue-1062-update-claude-md.md
  context/trace/task-templates/issue-1062-update-claude-md-ci-workflow.md
Due: none

docs(trace): add task template and execution plan for issue #1206
  context/trace/scratchpad/2025-07-22-issue-1206-workflow-documentation.md
  context/trace/task-templates/issue-1206-fix-workflow-documentation.md
Due: none

fix(workflows): reorder documentation steps to ensure all docs are in PR
  .claude/workflows/workflow-issue.md
Due: none

docs(trace): update task template with actuals and add completion log for issue #1206
  context/trace/logs/workflow-completions.log
  context/trace/task-templates/issue-1206-fix-workflow-documentation.md
Due: none

fix(workflows): ensure all documentation is included in PRs (#1240)
  .claude/workflows/workflow-issue.md
  context/trace/logs/workflow-completions.log
  context/trace/scratchpad/2025-07-22-issue-1206-workflow-documentation.md
  context/trace/task-templates/issue-1206-fix-workflow-documentation.md
Due: none

docs(trace): add task template and execution plan for issue #1208
  context/trace/scratchpad/2025-07-22-issue-1208-fix-ci-script.md
  context/trace/task-templates/issue-1208-fix-local-ci-script.md
Due: none

fix(ci): remove set -e to ensure all checks run despite failures
  scripts/test-comprehensive-ci.sh
Due: none

Path conditions:
  context-lint: any of: ^context/.*\.yaml$
  test-imports: any of: ^tests/.*\.py$
